[2017-05-04 23:47] jlblancoc opened #1 "Algorithm improvements to KD-Tree module: applications to ICP (Pranjal Kumar Rai)"
## Initial description
Nanoflann is a C++ library provided by MRPT for building KD-Trees. The library is a fork of the widely-used FLANN C++ library and is mostly optimized for lower dimensional point clouds. Most ICP algorithms for robot SLAM and localization require finding nearest neighbor in 2D/3D point clouds. Support for dynamic point clouds and nearest neighbour query in non flat spaces are

[2017-05-04 23:48] jlblancoc opened #2 "MVSim development (Borys Tymchenko)"
## Initial description:

Many contemporary robotic applications need precise simulation and prognosing of system dynamics. Making a lightweight application that is tailored to analysis of vehicle dynamics and accurate simulation of typical robot will allow developers simple workflow with simulated robotics systems.

See attached PDF.
[4899176547614720_1491160723_GSoCMultiplevehiclesimulator.pdf](h

[2017-05-04 23:49] jlblancoc opened #3 "GUI app to benchmark image feature detectors and descriptors (Raghavender Sahdev)"
## Initial description:

In this proposal we aim to build a GUI application which has the ability to benchmark various combinations of detectors/descriptors.

See attached PDF:
[6307731490209792_1491218516_Raghavender_GSoC2017_proposal.pdf](https://github.com/MRPT/GSoC2017-discussions/files/977835/6307731490209792_1491218516_Raghavender_GSoC2017_proposal.pdf)

## Final results:
* pull request [# 1

[2017-05-04 23:49] jlblancoc opened #4 "New GUI app to visualize and edit robot-made maps (LisGein)"
## Initial description:
I would like to develop a new GUI application based on Qt 5.5 or next version that should be able to load data in simplemap format and visualize it as a set of different metric maps. Also it should allow editing robot poses to fix errors in automatic SLAM algorithms. I want integrate my application in cmake main project of mrpt.

See attached PDF:
[6536204506890240_14907782

[2017-05-04 23:50] jlblancoc opened #5 "Robust SLAM and localization method using artificial fiducial markers and stereo vision (Shivang Agrawal)"
## Initial description:
The current methods of visual SLAM in mrpt uses computationally expensive feature detectors and descriptors like SIFT, SURF etc. The method, although flexible, is not well suited for real time sceinarios. To provide mrpt with real time SLAM and localization capabilities, the use of artificial fiducial markers is proposed that can be detected and matched easily in different

[2017-05-04 23:53] jlblancoc commented on #1
Student: @pranjal-rai

Main mentor: @jlblancoc
Backup mentors: @feroze

[2017-05-04 23:59] jlblancoc commented on #2
Student: @spsancti

Main mentors: @FranciscoJManasAlvarez, @torresmoreno, @jhervas79
Backup mentors: @jlblancoc, @EmilioSanjurjo

[2017-05-05 00:00] jlblancoc commented on #3
Student: @raghavendersahdev

Main mentor: @famoreno
Backup mentors: @feroze

[2017-05-05 00:01] jlblancoc commented on #4
Student: @LisGein

Main mentor: @jlblancoc
Backup mentors: @jolting

[2017-05-05 00:02] jlblancoc commented on #5
Student: @shivangag

Main mentor: @feroze
Backup mentors: @bergercookie

[2017-05-05 04:05] pranjal-rai commented on #1
Hi @jlblancoc and @feroze, Thank you for giving me the opportunity to work on this project. I am planning to start reading the existing code of nanoflann from the next week.
Please share any resource/pointer which might be helpful in understanding the library.

[2017-05-05 04:48] raghavendersahdev commented on #3
Thanks @jlblancoc @famoreno and @feroze for providing me with an opportunity to work on this project, I will start doing a background study on the requisite detectors/descriptors in the coming week. I would also select and understand in detail the Place recognition, Visual Odometery and SLAM algorithm to be used for the benchmarking later in the project. Please let me know about anything else I sh

[2017-05-05 09:00] jlblancoc commented on #1
👍 !!

Since this project will be all about efficiency, I would start preparing, in your repo/fork, one subdirectory with a suite of benchmarks: executable programs that repeat certain operations and measure the time ellapsed, in microseconds or milliseconds; typically, one operation is repeated N times, then the time divided by N to have a better estimate. In our case, tasks to be benchmarked are,

[2017-05-05 12:07] shivangag commented on #5
Thank you @jlblancoc, @feroze and @bergercookie for selecting my proposal. It will be a great learning experience for me working with you all.
I'll start with reading the EKF-SLAM based classes and the CLandmarksMap class, and learn how can they be used in the project, by this week. These were the parts that were not discussed properly in the proposal, Therefore I'll like to discuss and remove any

[2017-05-06 20:20] torresmoreno commented on #2
Hi @spsancti,
This is Jose Luis Torres (aka simply Torres). I will be your co-mentor in MVSim development project along with @FranciscoJManasAlvarez and @jhervas79. I work as a professor at the University of Almeria (UAL) and my research lines focus on Multibody Dynamics, with main attention to vehicle dynamics. For more information about my work you can visit my personal [website ](http://ual.es/

[2017-05-07 14:23] FranciscoJManasAlvarez commented on #2
Hi @spsancti,
I'm Francisco José Mañas (but you can call me Kiko). I'm student at final year of electronic industrial engineering. Now, I'm working in my final career proyect about the control of electric car. I hope that I can help you when it necessary and you can take advantage of this program.
Regards

[2017-05-07 20:20] spsancti commented on #2
Hi @torresmoreno, @FranciscoJManasAlvarez
It's a great plasure for me to be selected and to work on this project. I hope, it will be a great working experience for me.
I will start digging into mvsim code this week, based on this I'll figure out mode detailed work plan.

Cheers.

[2017-05-09 13:07] pranjal-rai commented on #1
While playing with the code I found a possible bug, I have created a [pull request](https://github.com/jlblancoc/nanoflann/pull/38).

[2017-05-09 13:50] jlblancoc commented on #1
Great! I've just answered you there.

[2017-05-10 01:29] pranjal-rai commented on #1
@jlblancoc
- Suppose I require some new module to incorporate dynamic support in the library. If this requirement can be easily met by changing some existing module, should I change the existing module itself or create a new module for the requirement, so that it does not drop the performance when the library is being used in static point cloud mode. eg: I need a module which returns the address o

[2017-05-10 10:07] LisGein commented on #4
Hi @jlblancoc! Thanks so much for giving me this opportunity! I'm ready to start work. If you do not have special requests about my proposel, I'd like to start creating a prototype. First of all, I will add OpenGl to my Qt-project.

[2017-05-10 15:18] jlblancoc commented on #4
Hi! Hope this is the beginning of a successful project! ;-)

That sounds terrific, go on for it.

Afterwards, it would be great for you to get familiar with the [API of MRPT CMetricMaps to be rendered](http://reference.mrpt.org/devel/classmrpt_1_1maps_1_1_c_metric_map.html#a2813da9b4130aa312a002e4eb265e73b) as mrpt::opengl objects, in case you are not familiar yet... Let's keep in touch.

[2017-05-10 17:19] jolting commented on #4
One thought I had was to accelerate the integration of cmake. I think this was in Week 9.

I think that integrating QT with the MRPT build system a little sooner might save you a lot of time in the long run. Also it makes it easier for us to build if it's part of the MRPT build process. The application should build from mrpt/apps. Furthermore, I want to emphasize code reuse. Shared GUI classes sho

[2017-05-10 17:24] jlblancoc commented on #4
Can't agree more with Hunter pointers!

[2017-05-10 17:47] LisGein commented on #4
Thank you @jolting. I think you are absolutely right. May be can I do it now?

And thank you @jlblancoc. I think I should read examples and MRPT code about OpenGl before include it to my project.

[2017-05-10 22:38] jolting commented on #4
By all means, begin now.

[2017-05-12 09:17] jlblancoc commented on #2
Hi @spsancti , and, again, welcome to GSoC! ;-)

Let me summarize some remarks for you and the rest of mentors to be on the same page...

First, the present implementation of `mvsim` uses a philosophy like this:

* We have 1,2,... motors on each vehicle.

* We can control the torque on each motor. At present there is a very simple controller (if I recall it right, it's the simplest proportional-co

[2017-05-12 09:22] jlblancoc commented on #1
I think that the current KD-Tree index class should remain more or less as is, and tailored to static datasets. A new class should be created for the dynamic algorithm, since, if I recall it right, it requires having an array/vector of kd-tree indices, so this later class would use "composition" with the former one.

On the two approaches: I would prefer having this new class being unique. Then ha

[2017-05-15 13:32] spsancti commented on #2
Hi @jlblancoc !
Some questions so far:
* What do we need first: wheel speed or wheel torque? Perhaps, it could be more convenient to use torque in some models.
* Do we always have direct drive from motor to wheel?
* What can the motor type be? For DC motors, torque is linear to velocity and non-linear for combustion engines.

After implementing rolling resistance, it would be interesting to implem

[2017-05-15 13:41] torresmoreno commented on #2
Hi @spsancti
The idea is to use wheels torques and electric motors considering a gear ratio at a first approach. Eventually, we can use any tire model as namely Pacejka's.

It is a good idea to document the work in progress using latex. Actually, @jlblancoc is preparing our server for Sharelatex. We will send you an invitation whe everything is ready.

Cheers

[2017-05-15 21:37] jlblancoc commented on #2
Hi, So far, all seems good!

In addition to JLT comments:

At present, yes. But obviously, a differential driven model (i.e. one motor driving an Ackermann configuration) would require a **different** dynamical model, where the two wheels must be taken into account into the same "free body diagram", etc. It would be really useful to help simulating slippage when, e.g. one wheel slips while the ano

[2017-05-19 12:06] famoreno commented on #3
Hi @raghavendersahdev, how is the background study going so far?

In case you haven't had a look to it yet, I recommend you to start by getting familiar with the [MRPT's CFeatureExtraction class](http://reference.mrpt.org/devel/classmrpt_1_1vision_1_1_c_feature_extraction.html) since new detectors/descriptors will be added to it, as well as the [AKAZE detector](http://docs.opencv.org/3.1.0/db/d70/

[2017-05-21 06:35] raghavendersahdev commented on #3
Hi @famoreno  thanks for letting me know about this. The background study is going good so far.
1. I am working towards building a Qt-based GUI skeleton code which has options for choosing detectors/descriptors. I am planning to write the basic structure of the app which incorporates the GUI elements for the detectors/descriptors by the coming week's end (May 28) and get your feedback.
2. I am loo

[2017-05-21 11:39] jlblancoc commented on #3
Hi @raghavendersahdev !

This is a general note to all accepted students that will be working on a fork of MRPT/mrpt : please, use the branch https://github.com/MRPT/mrpt/tree/mrpt-2.0-devel as **base** for all your work. In other works: **don't** start working based on `MRPT/master`, but on `MRPT/mrpt-2.0-devel`. This is because it's expected that during your project, `master` will become a maint

[2017-05-21 11:39] jlblancoc commented on #4
Hi @LisGein !

This is a general note to all accepted students that will be working on a fork of MRPT/mrpt : please, use the branch https://github.com/MRPT/mrpt/tree/mrpt-2.0-devel as **base** for all your work. In other works: **don't** start working based on `MRPT/master`, but on `MRPT/mrpt-2.0-devel`. This is because it's expected that during your project, `master` will become a maintenance bra

[2017-05-21 11:39] jlblancoc commented on #5
Hi @shivangag !

This is a general note to all accepted students that will be working on a fork of MRPT/mrpt : please, use the branch https://github.com/MRPT/mrpt/tree/mrpt-2.0-devel as **base** for all your work. In other works: **don't** start working based on `MRPT/master`, but on `MRPT/mrpt-2.0-devel`. This is because it's expected that during your project, `master` will become a maintenance b

[2017-05-21 11:46] jlblancoc commented on #4
@LisGein and @raghavendersahdev: Please, note that both of your projects share a first common place: integrating Qt into MRPT CMake scripts.

So, we **strongly** recommend that both of you share your ideas, thoughts, discussions, etc. in these threads so, eventually, we can merge both of your proposed CMake changes. Recall some of the specifications:
* Qt is optional (and the classes or apps requi

[2017-05-21 11:47] jlblancoc commented on #3
@raghavendersahdev  and mentors: just mentioning that [this message](https://github.com/MRPT/GSoC2017-discussions/issues/4#issuecomment-302931704) in another project highlights what part of that project is shared work with this one, requiring synchronization and public discussion between the two students and mentors.

[2017-05-21 11:49] jlblancoc commented on #2
Hi @spsancti ,
How are you doing with the study of the source code and the theory? Any doubts or comment so far?
Have a nice weekend

[2017-05-21 12:02] spsancti commented on #2
Hi, @jlblancoc ,
So far so good, your approach is very similar to mine at work.
Why didn't you use velocity form of PID? As to me, it's more convenient in modelling.
Also, LaTeX syntax in more sophisticated than I expected :D
For now a little pause - preparing for a test in the university.

[2017-05-22 08:30] bergercookie commented on #5
Hi @shivangag,

Again congratulations on being accepted in this year's GSoC.
I hope this proves an exciting experience!

Excellent! Just keep in mind, to make your code/classes as generic as possible. Since the end-product of your work is going to provide a highly accurate estimate of (at least) the robot trajectory, this can be utilized as ground-truth, or as a correction step to another SLAM fra

[2017-05-22 10:18] jlblancoc commented on #1
Hi @pranjal-rai !

How are you doing with the preliminary work on the datasets and/or performance tests? Do you need any help?

PS: Please, keep your fork up-to-date to the latest accepted pull-requests in the main nanoflann repo.

[2017-05-22 11:33] shivangag commented on #5
Hi @bergercookie
I had a thorough read of the [CLandmarksMap](https://github.com/MRPT/mrpt/blob/mrpt-2.0-devel/libs/vision/include/mrpt/maps/CLandmarksMap.h) and related classes like [CLandmark](https://github.com/MRPT/mrpt/blob/mrpt-2.0-devel/libs/vision/include/mrpt/maps/CLandmark.h), [CFeature](https://github.com/MRPT/mrpt/blob/mrpt-2.0-devel/libs/vision/include/mrpt/vision/CFeature.h) and diff

[2017-05-22 12:05] pranjal-rai commented on #1
Hi @jlblancoc

I forked [flann](https://github.com/mariusmuja/flann) and experimented with the code a bit. I noticed that there are two codes of our interest at this time.
- First is the general [flann code](https://github.com/mariusmuja/flann/blob/master/src/cpp/flann/algorithms/kdtree_index.h) which is not specifically optimized for lower dimensional point clouds. In this code there is an existi

[2017-05-22 17:01] feroze commented on #3
Hey @raghavendersahdev !

Great to hear you're already working on the GUI skeleton :+1:

Benchmarking against KITTI is a good idea. Any particular reason for choosing SPTAM? I think it uses BRIEF descriptors.

[2017-05-22 20:14] jolting commented on #4
Take a look at how PCL does it. The MRPT cmake scripts are a little different, but the requirements are similar.
https://github.com/PointCloudLibrary/pcl/blob/master/cmake/pcl_find_qt5.cmake
Note: we do not need to support QT4 like PCL.

Make sure you look at:
http://doc.qt.io/qt-5/cmake-manual.html

Consider adding libmrptgui-qt5 to mrpt, so that Wx and Qt5 code doesn't get mixed in the same libr

[2017-05-23 03:25] raghavendersahdev commented on #3
Hi @feroze , Thanks for the reply, I choose SPTAM as it provides the source code to choose a combination of detectors / descriptors  https://github.com/lrse/sptam/blob/master/src/ros/sptam_node.cpp  (line 152-178). Would you suggest using a different algorithm? No other specific reason for choosing SPTAM. Also I have used it for localization on a robot before (i am roughly familiar with its code-b

[2017-05-23 10:20] torresmoreno commented on #2
Hi @spsancti
Feel free to implement any additional kind of controller for velocity.
For LaTeX, I recommend you to use TeXstudio. Once you get used to it, you will find it quite easy:
http://texstudio.sourceforge.net/
What about your test for University? If you are available now, you can start coding before May ends, just in case you will need any vacation/week of unavailability eventually, etc.

C

[2017-05-23 21:14] spsancti commented on #2
Hi!
Test passed, returning to work.

@torresmoreno I'm using texmaker, looks nice. I will have 1-2 days off around 2nd of June.

@jlblancoc , do we have weight transfer somewhere? Looks like sufficient thing to have, unless the speed is too low that it's negligible.
Also, what about other sensors than LiDAR?

[2017-05-23 21:16] jlblancoc commented on #2
Nope, no weight transfer so far... it could be added to the long list of
things to add to make the lib more realistic!

[2017-05-23 21:18] jlblancoc commented on #2
On sensors, I was thinking of cameras, which should be relatively
straightforward by reusing pieces by mrpt-opengl...
There is already one class to do off-screen rendering, that would fit this
propose perfectly. Can't look for it right now, I'm on the phone, let us
know in you have problems localizing it.

Cheers... and congrats for the passed test!

[2017-05-23 23:00] bergercookie commented on #5
Hi @shivangag

Currently the CFeature class stores the descriptors of a feature in a TDescriptors structure, which has variables for storing SIFT, SURF, ORB etc. Clearly, we cannot use it with other descriptors available or even for the fiducial markers.
I was thinking of creating a new class CDescriptor that have templatized variables, to store descriptors, and functions, to compare two descripto

[2017-05-24 00:27] jolting commented on #5
Aruco was added to OpenCV 3.1.0.

It's unclear when OpenCV 3.1.0 will be packages for debian stable, but it looks like there is some progress on debian experimental[1]. This means it might be a while before Ubuntu will have it.

It's probably best to just use the Aruco lib for feature parity across all the platforms. OpenCV 2.4 is still more common than the 3.x branch.

1. https://tracker.debian.o

[2017-05-25 20:40] famoreno commented on #3
Hi everybody, I'm back! :D Sorry for the delay but I've been in a trip in Morocco for the last days and my internet conection was REALLY limited (let's say that :P). These are my comments:

I agree with @feroze about using KITTI for benchmarking.

Regarding the visual odometry and visual SLAM techniques: There are several options to be considered here when trying to test different combinations of

[2017-05-27 11:02] LisGein commented on #4
Hello!
I started working with the branch(mrpt-2.0-devel) and noticed the compilation errors in the assimp and zlib.
They are caused by the automatic replacement of NULL with nullptr and similar changes in the two commits:
[Completely remove stlplus](https://github.com/MRPT/mrpt/commit/341c68b5667e69abb28cf67f266393fbcb97d270), [nullptr instead of NULL](https://github.com/MRPT/mrpt/commit/a4fe16ac2

[2017-05-27 14:56] LisGein commented on #4
I have forked [mrpt](https://github.com/LisGein/mrpt/tree/mrpt-2.0-devel) and added some commits. First is fixing compilation of mrpt-2.0-devel. The other things are integrating qt5 in mrpt and adding new qt application.
@raghavendersahdev, is this solution suitable?

[2017-05-28 02:50] jolting commented on #4
You should open a pull request, so we can review it. That looks like some useful changes. Make sure you open it for the mrpt-2.0-devel branch.

[2017-05-28 03:02] jolting commented on #4
Can you add something to script_show_final_summary.cmake?

[2017-05-28 05:15] jolting commented on #4
Also you forgot to add script_qt.cmake to the top level CMakeLists.txt.
Finally, case the filenames like this CMainWindow.cpp and CMainWindow.h instead of all lowercase. Windows probably won't care, but Linux does.

[2017-05-28 21:58] LisGein commented on #4
I have made a pull request, so I have fixed the compilation for Windows (checked on win 10 msvs 2017 x64 debug) and have added installation Qt dlls.

[2017-05-28 23:50] raghavendersahdev commented on #4
Thanks @jlblancoc  @jolting  your links helped. Hi @LisGein  your solution to CMakeLists.txt looks fine to me I am also doing something very similar [here](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/CMakeLists.txt) . I am not using the scripts_qt.cmake currently as I am including all my dependencies in my CMakeLists, I am not sure if this is the

[2017-05-29 03:52] raghavendersahdev commented on #3
Thanks @famoreno @feroze for the suggestion. I forked the mrpt code, I have made a small GUI skeleton (https://github.com/raghavendersahdev/mrpt/tree/master/apps/benchmarking-image-features ), I still need to add more contents to it in terms of evaluation metrics, detector/descriptor parameters, thresholds, more detectors/descriptors, etc. visual odometery. Could you let me know if this looks okay

[2017-05-30 08:40] pranjal-rai commented on #1
Hi @jlblancoc

I have implemented logarithmic approach for dynamic support. I have created a [new branch](https://github.com/pranjal-rai/nanoflann/tree/LogarithmicMethod) with proposed changes. I have tested it using random point clouds. For now I have added just one [example file](https://github.com/pranjal-rai/nanoflann/blob/LogarithmicMethod/examples/dynamic_pointcloud_example.cpp), I will add

[2017-05-30 09:58] spsancti commented on #2
Hi,
Sorry for long silence - got distracted with CMake issue.
Sorted out LaTeX things and described friction model. Now things will go easier.
Now I'm ging to describe vehicle dynamics.
Also, generated some Doxygen; beautiful but not so informative.

I haven't found corresponding opengl class, maybe didn't look good enough.

Do we need some wheels suspension model? It's negligible in small robots,

[2017-05-30 10:44] EmilioSanjurjo commented on #2
Hello everyone,

My name is Emilio Sanjurjo, from the University of A Coruña. I was supposed to be mentoring this project, but finally I couldn't do it, so I am simply reading your mails as a passive observer.
I say this in first place because I would like to share some ideas with you, but I understand if you all simply ignore them.

If I understood well the idea of the MVSim project, it is aimed

[2017-05-30 12:06] jlblancoc commented on #4
Hi @raghavendersahdev ,
You can now merge from the main mrpt-2.0 branch to yours, so you can use Lis's CMake scripts. Take a look at her app's CMake script. Specially, notice that find_package(), etc. are not required there, since all that part is in the other, shared, separate `.cmake` file.
Cheers!

[2017-05-31 10:58] spsancti commented on #2
Hi, @EmilioSanjurjo !

It looks like right things to adhere.
However, isn't weight transfer important for slow robots when moving on inclined surfaces?
And what about suspension of big slow robots on uneven terrains (like automated lawn mowers)?

As to me, with 3D multibody model, it's better to start from scratch and it will definitely take more time than 3 months. Also, there is Gazebo for this

[2017-05-31 11:17] jlblancoc commented on #2
I definitively have an idea on how to deal with this.

My baby was born a few days ago and I'm **really** busy, funny days! :-)

Will catch up with all the gsoc projects asap guys...

[2017-05-31 12:21] EmilioSanjurjo commented on #2
Hi Borys.

Yes, you are right, weight transfer is important when moving on inclined surfaces, and both suspension and weight transfer are important when moving on uneven terrains. My point is that I find a 2.5d model inadequate for these situations (in particular for the last one).
At least for uneven terrains, the simplest solution will be starting with a 3d model. And if the kinematics of the su

[2017-05-31 13:39] jlblancoc commented on #2
Thanks for raising such a critical **design** and **goal** question, Emilio!

I totally agree we should not get lost regarding the project goals and **scope**: full 3D simulation can be done already, much better, with Gazebo. We can't, shouldn't, and don't want to compete with that giant project!

So, back to the 2D, or at most, 2D + tilted terrain, mostly *even* terrain, here is my idea, let me k

[2017-05-31 14:25] shivangag commented on #5
@bergercookie Am I supposed to pull the latest mrpt-2.0-devel commits? Because it will require a complete rebuild.

[2017-05-31 14:34] bergercookie commented on #5
@shivangag, yes. You should be operating entirely on mrpt-2.0-devel. I'd
also suggest that you periodically fetch and sync the latest changes from
the mrpt-2.0-devel branch so that the final merging of your code goes as
smooth as it can be.

Nikos,

On Wed, May 31, 2017 at 5:25 PM Shivang Agrawal <notifications@github.com>
wrote:

--
Nikos Koukis
School of Mechanical Engineering
National Technical

[2017-05-31 18:56] pranjal-rai commented on #1
Hi @jlblancoc

I compared the index building time requirement for nanoflann and flann for inserting points dynamically. Flann is based on the rebuild threshold approach whereas nanoflann uses logarithmic approach.

![plot](https://cloud.githubusercontent.com/assets/6441513/26651028/10fae652-4669-11e7-8e59-14106c240c27.jpg)

[2017-06-02 11:49] spsancti commented on #2
Hi, @all ,
Finally, passed all the exams for this semester, it's time to work now!

@jlblancoc , we need to implement tire models both for 2D and 3D model. The same is for rolling resistance and other viable models. It would be cool to make multibody models, but I have very little knowledge of this. Looked into our own MBD and panicked a little. Any suggested reading?

If we'd had 3d simulation, w

[2017-06-02 15:35] torresmoreno commented on #2
Hi @spsancti
Congratulations for your examns.
Your right, indeed, Multi-Body Systems Dynamics is a really complex discipline, and implementing the full vehicle under this approach would be out of the scope of this project.
So, I agree you go on implementing the tire models.
Have a good journey.

[2017-06-04 05:00] raghavendersahdev commented on #4
thanks @jlblancoc  I am using Lis's CMake scripts now. I have made a pull request after fixing my CMakeLists file. I am working on ubuntu 16 with Qt5

[2017-06-04 16:40] spsancti commented on #2
Hi, I'm already available.
Meanwhile, I'm in Berlin. If someone is nearby, we could meet.

While travelling, I've got an interesting question: what is the method of testing for physical models used in mvsim? How do we evaluate their accuracy?

[2017-06-04 17:44] raghavendersahdev commented on #3
correction, my code is [here](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel/apps/benchmarking-image-features) in the mrpt-2.0-devel branch not the master branch.

[2017-06-05 06:44] raghavendersahdev commented on #3
Hi @famoreno @feroze I read the documentation for the CFeatureExtraction class and went over the [feature-matching app](https://github.com/raghavendersahdev/mrpt/blob/master/apps/features-matching/features_matching_main.cpp) and the [feature-extraction sample](https://github.com/raghavendersahdev/mrpt/blob/master/samples/feature_extraction/test.cpp) in mrpt. I wanted to check with you if I am on t

[2017-06-05 07:45] jolting commented on #3
CDisplayWindow uses wxWidgets. wxWidgets uses gtk+ as  a backend. I think you are not properly initializing wx.

Mixing Qt and wxWidgets is not wise.

[2017-06-05 16:58] raghavendersahdev commented on #3
Thanks @jolting for your advice :+1:  I wanted to display the output image with detected detectors/descriptors in the image so was using CDisplayWindow [here](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/featuredialog.cpp#L130) in my code, as my app should support CFeatureExtraction class which is coded for it to show images with CDisplayWindow

[2017-06-05 17:26] jolting commented on #3
Careful with the OpenCV gui stuff as well. It also uses gtk+. As long as you are not poping up GUI windows OpenCV should be fine with Qt.

If you plan on using Qt, you should convert the image to QImage and render it in a QLabel.

[2017-06-05 17:34] raghavendersahdev commented on #3
Thanks jolting I will convert into a QImage and render in a QLabel for displaying.

[2017-06-05 17:53] famoreno commented on #3
Hi @raghavendersahdev, as far as I know, and if @jlblancoc doesn't say otherwise, new detectors/descriptors should be added to the CFeatureExtraction class as the other items in [here](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel/libs/vision/src) (CFeatureExtraction_*). In most cases they are just wrappers for their corresponding OpenCV's methods, so it shouldn't be very difficult

[2017-06-05 18:55] raghavendersahdev commented on #3
Thanks @famoreno  I am more clear with the approach now. I will modify the current GUI as per your suggestions and display a pair of QImages and have parameters on the same window as per selection of detectors/descriptors from the QComboBox. I will update the code with these features soon.

I should be using the CImage, CFeatureExtraction, CFeatureList, etc.. like [this](https://github.com/raghave

[2017-06-05 19:41] torresmoreno commented on #2
One of the ideas of the project is to develop wrapping functions for Matlab. We could think about comparing the results of a double lane change maneuver wtr to a well-known model (might be a more realistic one) as a ground-thruth.

[2017-06-05 20:44] jolting commented on #3
👍

[2017-06-05 21:25] jlblancoc commented on #3
I agree with all the recommendations of Paco (famoreno)!

Also, did you have more cases of this error:

Timeout waiting window creation.

It's an old known bug of the wxWidgets subsystem in mrpt... all I can say
it seems to be related to a race condition because it's soooo arbitrary and
random. One more reason to port CDisplayWindow to a Qt backend!

[2017-06-05 22:35] raghavendersahdev commented on #3
Hi jiblancoc, thanks for letting me know about the bug, I get a Timeout waiting window creation error in following cases

1. when I create an instance of the CDisplayWindow [here](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/featuredialog.cpp#L130) or CDisplayWindowPlots and try to use it with Qt, I get the error, and
2. When I create a CDispla

[2017-06-06 19:55] pranjal-rai commented on #1
Hi @jlblancoc

Is there any comment on the logarithmic approach implementation?
I have experimented with the following four libraries to compare their performance with nanoflann in later phase.

- [FLANN](https://github.com/mariusmuja/flann)
- [FASTANN](https://github.com/philbinj/fastann)
- [ANN](http://www.cs.umd.edu/~mount/ANN/)
- [libkdtree++](https://github.com/nvmd/libkdtree)

Out of these o

[2017-06-07 02:00] jlblancoc commented on #2
:clap: Great news, congrats!

I would leave collisions aside, delegate that to Box2D and live happy with such a gross estimation that gives us "good enough" results in many cases ;-)

We should clearly focus on a few core topics, since time is very limited. As mentioned earlier, I still believe that "just" developing the documentation for the current physical model, implementing rolling resistance

[2017-06-07 02:57] jlblancoc commented on #1
Hi!
Sorry for the gap... two weeks ago my second baby daughter was born so these have been **really** busy days! ;-)

You made good progress, congrats! If you go on at this pace, I'm sure we'll achieve the project goals.

Some quick answers:

(+ the figure)

Good results!
If you are using octave or matlab for plotting, I recommend using something like:
        plot(x,y,'r-'); hold on; plot (x,y,'r

[2017-06-07 06:11] pranjal-rai commented on #1
@jlblancoc thanks for the pointers. I will start working on all the pointers and get them done ASAP.

[2017-06-07 20:55] pranjal-rai commented on #1
Hi @jlblancoc

![plot](https://user-images.githubusercontent.com/6441513/26899424-b0e02802-4bec-11e7-89d6-19dd9cd39daf.jpg)

The results change significantly when points are added in chunks of size 100, our time is nearly the same because as per theory the points in logarithmic approach are still added one by one but in flann time improves because now it requires much lesser number of rebuilds.

I

[2017-06-07 21:27] spsancti commented on #2
I've started to document into Latex, but, unfortunately, only finished the friction model.
It's in my fork now. I will also add car models and controllers in next few days.
Also, I've generated Doxygen for it, don't know, if it is needed in the repo. There are also some diagrams present.

About the rolling resistance:
How deep do we need to dig into? The most basic model involves just only one gen

[2017-06-09 01:50] jlblancoc commented on #1
Good! Lots of results in a short time.

What method of flann are you comparing to? The "A"NN stands for approximate, so that may be also the answer to:

Rebuild Threshold Approach

I don't have right now any reference at hand, but thresholding may be valid only to generate **approximate** trees. In that case, we can't compare an "exact vs approximate" algorithms, at least, not without making clear

[2017-06-09 01:54] jlblancoc commented on #2
What are the implications? More complex models for "extreme" speeds?
Anyhow, for robots, 5 to 30 km/h are typical speeds... wouldn't like to be too close to any autonomous robot faster than that ;-)

Yes, that might, as I see it, the more complex rolling resistance model we should approach for now.

I think we could leave this as "future works" and approach it if we end other tasks, e.g. initial M

[2017-06-09 02:35] pranjal-rai commented on #1
Hi @jlblancoc

- In FLANN, if instead of using [`flann::SearchParams(128)`](https://github.com/mariusmuja/flann/blob/master/examples/flann_example.cpp#L26) we use `flann::SearchParams(-1)` the code performs exact searching ([source](https://github.com/mariusmuja/flann/blob/master/src/cpp/flann/algorithms/kdtree_index.h#L230)). Right now I am using this mode for comparison. In this class the [addPo

[2017-06-09 07:54] EmilioSanjurjo commented on #2
Hi all.

Just a short comment: tire, brake and rolling resistance forces can be problematic at very low or null speed. Usually you will need to introduce a spring-damper force or some other trick to manage these situations.
Just make sure that the force models you introduce work at null speed before going into super advanced models, because that will be more important for robots than the accuracy

[2017-06-09 13:03] bergercookie commented on #5
Hi @shivangag,

We are now well in the first phase of GSoC. How is the coding going?
I haven't seen any recent activity in your MRPT fork in either `gsoc` or
`mrpt-2.0-devel` branches. Am I looking at the wrong repo/branch?

In case you have made progress but keep your commits locally, I think it
would be better to push your changes to github so me and @feroze can review
them and provide you with

[2017-06-09 14:51] shivangag commented on #5
Hey @bergercookie
I was traveling for last few days and therefore was not able to work. I'll be working full time on the project from now on and would try to catch up to the timeline.
And by the way, I'm working on markerdetection branch.

[2017-06-11 21:39] feroze commented on #5
Hey @shivangag

Don't feel shy about pushing small code changes or 'work in progress' commits to your branch daily. It can be cleaned up and squashed into polished commits later. This will let us understand your progress and quickly help with any doubts or design choices.

[2017-06-12 08:09] shivangag commented on #5
@feroze and @bergercookie I have added the Aruco detection classes [here](https://github.com/shivangag/mrpt/commits/markerdetection).
I was writing a test application to check the added code, but I am stuck at how can I convert the images to CObservationImage. The documentation at http://reference.mrpt.org/devel/ seems not to be generated properly.

[2017-06-12 12:51] bergercookie commented on #5
Hi @shivangag,

I took a look in your recent commits and made some comments inline.

Finally, keep in mind that you should also integrate the potential use of the aruco library as an optional MRPT CMake dependency, that is, if the users do have that library installed, the corresponding code lines are going to be compiled, otherwise they are going to be skipped. The aruco library also provides a Fi

[2017-06-12 23:12] spsancti commented on #2
Hi,
Sorry for long silence.

If we don't consider high speeds at the moment, there are many models for rolling resistance.
Linear model is also suitable.
In addition, Pacejka's model already considers rolling resistance inside of it.

I've found an interesting article that introduces models for rolling resistance and traction force in case of vehicle slip:
http://web.mit.edu/mobility/publications/

[2017-06-13 06:00] torresmoreno commented on #2
It could be ok.
It is convinient to implement also the proposed EKF. Do you have any previous experience with Kalman Filters?

[2017-06-13 21:47] spsancti commented on #2
I read some theory about Kalman filters, but never implemented one myself.
AFAIK, MRPT has several implementations of them, couldn't we adjust one for this purpose?

[2017-06-14 02:05] jlblancoc commented on #2
Hi @spsancti . Good you search into scientific literature... 👍 that's the way to go.

Some comments:

* On the Latex doc: Please, add a Makefile to your fork [doc directory](https://github.com/spsancti/mvsim/tree/f-documentation/docs) so it's easier to automate the generation of a PDF version without having to manually run pdflatex (twice...) or opening an GUI... See an example [here](https://gith

[2017-06-14 02:23] jlblancoc commented on #5
The "problem" with CLandmarksMap is that it was designed with one particular paradigm for SLAM and localization in mind: particle filters (or RBPF for mapping). That was "trending" in the 2000s and, in fact, is a great solution and the **unique** rigorous solution for some kind of sensors (i.e. raw 2D scans) and maps (i.e. occupancy grid maps).

However, RBPF are not (speaking in general) an optim

[2017-06-14 03:10] jlblancoc commented on #4
Hi @LisGein ,

How are you doing? Any doubt on MRPT classes?

I just checked the code in your fork. Congrats, I really like your style! It's obvious you have a good background experience as a professional C++ developer :+1:

Just some random comments:

* No rush at all but, at some point, all .h/.cpp files should include the MRPT copyright notice. Please, add yourself to the AUTHORS file as well.

[2017-06-14 12:46] shivangag commented on #5
I have pushed some new commits [here](https://github.com/shivangag/mrpt/commits/markerdetection) with changes suggested by @bergercookie and @jlblancoc.
I also created a crude external test file (I couldn't figure out how to link aruco libs with the test file in mrpt/samples directory) that reads images from the disk, converts it into CObservationImage object and then call CArucoMarkerDetection fu

[2017-06-14 14:20] jlblancoc commented on #5
Well done!

The use of the pimpl macros seems correct.

I don't know why you should link an example file, which only uses the new
mrpt class that wraps aruco, against aruco... only the mrpt lib should be
linked against it. That's the advantage of dynamic linked libs (.so file).

You could add a new example to mrpt a explained here:
https://github.com/MRPT/mrpt/blob/master/samples/HOW_TO_ADD_EXAMPL

[2017-06-14 17:16] LisGein commented on #4
Hi! Thank you :)
Yes, the last two weeks I've been working on integration Qt, mrpt and OpenGL together. I created a QtWidget that can render mrpt::opengl::COpenGLScene.

My application now supports the following features:
- Open a dialog for simplemaps and config;
- A tree view for simplemap poses and observations;
- Create and render points and occupancy maps with opengl;
- Simple navigation (cam

[2017-06-14 19:07] shivangag commented on #5
Hey @jlblancoc, Thanks for your review.
I missed linking the detector module with aruco and hence was getting undefined reference error before.
I have added the [script_aruco.cmake](https://github.com/shivangag/mrpt/commit/8fe61d6e7170c3d95c69faf8ca4484c9edf516fe#diff-db88202f0e97a3e60fbcc6c2d8b63578) file and a Findaruco.cmake file(It was generated by the aruco library, but only supports Linux, I

[2017-06-14 22:42] jlblancoc commented on #4
Good luck with that!

On simplemaps for testing, I have collected some of them in these two Drive shared folders:

* [simplemap collection 1](https://drive.google.com/drive/folders/0B5HPWlmxIrvFOTB5MUgyeXg4VWc?usp=sharing)
* [simplemap collection 2](https://drive.google.com/drive/folders/0B5HPWlmxIrvFYkZKRE5JYmdGSUk?usp=sharing)

Most contain 2D LiDARs only, but there is at least one (named "...3l

[2017-06-14 22:54] jlblancoc commented on #4
BTW: Those .simplemaps were created with MRPT 0.5.x (!!!) in 2007... It will be the definitive test for my long-term maintenance of binary serialization code. If they can be still loaded after 10 years of continuous changes it will feel fantastic !!

[2017-06-14 23:23] famoreno commented on #3
Hi @raghavendersahdev, how is it going? It's been a while since your last update and I would like to know how the development of the software is going. Please, note that the first evaluation is near so it would be desirable to have some regular updates of your work, trying to comply with the project timeline.

Btw, did you manage to show the images+features? It looks like that just [drawing them](

[2017-06-14 23:25] jlblancoc commented on #5
Hi,
Good progress!

But I don't feel comfortable with a pair of details... I'll explain why and I'm sure you'll agree:

* Sample images: it would be better to minimize the number of non code files in the Git repo. But since it's fundamental to have some example image files (to run examples, for unit tests,..) they must be somewhere. I think its correct place is MRPT/share/mrpt/datasets/, because t

[2017-06-15 07:13] raghavendersahdev commented on #3
Hi @famoreno , Sorry for not providing an update recently, Yes I was able to show the images+features as a QImage in QLabel in the GUI, I used opencv's methods to draw the keypoints which stores the image with detected keypoints in a cv:Mat. I am currently writing wrappers of the respective openCV features in the CFeatureExtraction class like for LSD/BLD line detector descriptors, AKAZE detector,

[2017-06-15 10:47] bergercookie commented on #5
Hi @shivangag,

You are making progress :-)

All the points raised by Jose are valid; MRPT is a pretty large project and there are some of the fundamental rules to maintain it.

For now, I'd concentrate on creating a fully fledged example that demonstrate the capabilities of aruco marker tracking. Ideally the end-product by the end of this coding period should be an example / application (would pr

[2017-06-15 12:34] famoreno commented on #3
Good to know that your work is going on properly, @raghavendersahdev. I'll have a look at it next week after your updates are committed.

Hope everything went great!

[2017-06-15 14:22] pranjal-rai commented on #1
Hi @jlblancoc

- I have created a new class `KDTreeBaseClass` which now has the functions common to static and dynamic adaptors. This class is inherited by `KDTreeSingleIndexAdaptor` and `KDTreeSingleIndexDynamicAdaptor_`. I have [commited](https://github.com/pranjal-rai/nanoflann/commit/1fa0e85902be34331306d5967673c3e3b3ff8414) the changes to my branch. I have not used virtual functions.

- For r

[2017-06-15 20:35] shivangag commented on #5
@jlblancoc I have updated the [script_aruco.cmake](https://github.com/shivangag/mrpt/commit/2726dcc941a42801395705fe4ee372385b7c264e#diff-db88202f0e97a3e60fbcc6c2d8b63578) file to use pkg-config and find modules to find aruco.

@bergercookie Thanks for the pointers.
I'll am working with the unit tests, and will follow it by pose estimation from single markers.

[2017-06-16 23:13] spsancti commented on #2
Hi, @jlblancoc .
I investigated the paper and Kalman filter a bit deeper and the question raised: what for do we need this Kalman slip detection?
Actually, math in MRPT Kalman is pretty sophisticated, do I need to comprehend it all, or is it better to look for some more simple implementations?

In addition, small question about models. Why is vx_veh calculated in [this way](https://github.com/spsa

[2017-06-17 06:12] jlblancoc commented on #2
Hi!

It's actually *NOT* required for the simulation itself. It's useful to evaluate state observers for vehicular dynamics (e.g. if we wanted to write some paper about this topic using mvsim as simulator for ground-truth comparison). But that KF would better fit, IMO, **outside** of mvsim; or, at least, outside of the vehicle simulation code itself. It might be an "add-on", so leave it for a late

[2017-06-17 06:14] jlblancoc commented on #2
Correct, v_y will be !=0 in case of side slippage, when the friction force required to make it 0  is larger than the maximum frictional force according to the friction model.

[2017-06-19 07:21] raghavendersahdev commented on #3
Hi @famoreno , Thanks, the _job interview assignment_ went nice.  I have committed my code to my fork [here](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel/apps/benchmarking-image-features). Currently I have the **following functionality in the app:**
1. Detector used from the CFeatureExtraction class and showing the keypoints for each detector as a QImage. Each detector has associa

[2017-06-19 11:14] jlblancoc commented on #1
Hi @pranjal-rai !

Apart of a comment I made regarding the documentation of classes, I'm happy with your approach! No virtual methods means efficient code... 👍

Sorry, I missed something... what two methods? Logarithm method and threshold?

Since we aim at exact NN, just remove the method that is an approximation.

Also: how are you doing with the bencharking application from real pointcloud datas

[2017-06-19 11:31] jlblancoc commented on #1
**This is a kind reminder to all GSoC students and mentors**

According to [GSoC FAQ](https://developers.google.com/open-source/gsoc/faq), students are supposed to devote **30+ hours per week** to their assigned project. This amounts to 6h/day (Mon-Fri) or 4.3h/day (Mon-Sun), or any equivalent distribution given the flexibility to work on your own schedule. Clearly failing to such a commitment may

[2017-06-19 11:31] jlblancoc commented on #2
**This is a kind reminder to all GSoC students and mentors**

According to [GSoC FAQ](https://developers.google.com/open-source/gsoc/faq), students are supposed to devote **30+ hours per week** to their assigned project. This amounts to 6h/day (Mon-Fri) or 4.3h/day (Mon-Sun), or any equivalent distribution given the flexibility to work on your own schedule. Clearly failing to such a commitment may

[2017-06-19 11:31] jlblancoc commented on #3
**This is a kind reminder to all GSoC students and mentors**

According to [GSoC FAQ](https://developers.google.com/open-source/gsoc/faq), students are supposed to devote **30+ hours per week** to their assigned project. This amounts to 6h/day (Mon-Fri) or 4.3h/day (Mon-Sun), or any equivalent distribution given the flexibility to work on your own schedule. Clearly failing to such a commitment may

[2017-06-19 11:32] jlblancoc commented on #4
**This is a kind reminder to all GSoC students and mentors**

According to [GSoC FAQ](https://developers.google.com/open-source/gsoc/faq), students are supposed to devote **30+ hours per week** to their assigned project. This amounts to 6h/day (Mon-Fri) or 4.3h/day (Mon-Sun), or any equivalent distribution given the flexibility to work on your own schedule. Clearly failing to such a commitment may

[2017-06-19 11:32] jlblancoc commented on #4
Hi @LisGein ,

Did you manage to open those *old* simplemap files?

[2017-06-19 11:32] jlblancoc commented on #5
**This is a kind reminder to all GSoC students and mentors**

According to [GSoC FAQ](https://developers.google.com/open-source/gsoc/faq), students are supposed to devote **30+ hours per week** to their assigned project. This amounts to 6h/day (Mon-Fri) or 4.3h/day (Mon-Sun), or any equivalent distribution given the flexibility to work on your own schedule. Clearly failing to such a commitment may

[2017-06-19 11:41] pranjal-rai commented on #1
Hi @jlblancoc

I have added the [documentation](https://github.com/pranjal-rai/nanoflann/commit/a06743af0e18cace6a374608982d0bb543fb76f5) for all the classes.

I proposed two different implementations for rebuild threshold method. I have implemented both but it seems that the rebuild threshold approach is valid only for approximate nearest neighbour searches. So this will not work for our purpose.

[2017-06-19 11:50] jlblancoc commented on #1
Sure! Some datasets:
* http://kos.informatik.uni-osnabrueck.de/3Dscans/
* http://graphics.stanford.edu/data/3Dscanrep/
* and naturally... http://www.mrpt.org/malaga_dataset_2009 also includes point clouds ;-)

[2017-06-19 13:46] feroze commented on #5
Hey @shivangag ,

Any progress over the weekend? Could you push the commits?

We have less than a week for the first evaluation and there is quite a lot of work to catch up on.

[2017-06-19 14:46] jlblancoc commented on #3
For those of you creating new MRPT apps, remember to also create a basic manpage, a must-have for Debian packages.
This includes:
* Adding one more line for your app to [doc/man-pages/CMakeLists.txt](https://github.com/MRPT/mrpt/blob/master/doc/man-pages/CMakeLists.txt), and
* Creating a new [`.pod` file](http://perldoc.perl.org/Pod/Man.html) in [doc/man-pages/pod](https://github.com/MRPT/mrpt/tre

[2017-06-19 14:46] jlblancoc commented on #4
For those of you creating new MRPT apps, remember to also create a basic manpage, a must-have for Debian packages.
This includes:
* Adding one more line for your app to [doc/man-pages/CMakeLists.txt](https://github.com/MRPT/mrpt/blob/master/doc/man-pages/CMakeLists.txt), and
* Creating a new [`.pod` file](http://perldoc.perl.org/Pod/Man.html) in [doc/man-pages/pod](https://github.com/MRPT/mrpt/tre

[2017-06-19 14:46] jlblancoc commented on #5
For those of you creating new MRPT apps, remember to also create a basic manpage, a must-have for Debian packages.
This includes:
* Adding one more line for your app to [doc/man-pages/CMakeLists.txt](https://github.com/MRPT/mrpt/blob/master/doc/man-pages/CMakeLists.txt), and
* Creating a new [`.pod` file](http://perldoc.perl.org/Pod/Man.html) in [doc/man-pages/pod](https://github.com/MRPT/mrpt/tre

[2017-06-20 00:22] spsancti commented on #2
Hi
I've added some docs about vehicles and controllers. Is there something else that needs to be in doc (excluding programming part)? There is also makefile present.

About tire model: will it be better to implement combined model from paper, or just add rolling resistance for our purposes?

Also, II.C assumes, that the vehicle longitudinal acceleration is negligibly small, which is generally vali

[2017-06-20 03:52] raghavendersahdev commented on #3
Thanks @jlblancoc for the letting me know about it, I will start [committing](https://github.com/raghavendersahdev/mrpt/commits/mrpt-2.0-devel) code on a regular basis.
Hi @famoreno  I am currently writing code for visualizing the descriptors, its is incomplete right now, [this](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/visualizedialog.cpp#L

[2017-06-20 11:28] pranjal-rai commented on #1
Hi @jlblancoc

We now have the support for dynamic point clouds. I have tested the implementation and it looks good to me. We can verify it again once you are done with executables for testing.

Also: As the rebuilding threshold approach does not work for us, so should I push these changes to my repo in a new branch or just leave it?

I am now planning to create a GUI based application to perform

[2017-06-21 16:32] shivangag commented on #5
Hey @bergercookie and @feroze, I have almost completed the aruco integration, with the exception being the unit test which I'll add soon.
For the application, I've made myself comfortable with the GUI APIs and have started working with it.
I have some doubts on calculating the frame poses from the markers. Here is the crude algorithm that I thought to start with
1. Set the first frame pose as the

[2017-06-22 09:27] jlblancoc commented on #2
Ok, let's start without weight transfer, for consistency with the scope of mvsim.

On tire model, start with a simplest rolling resistance.

[2017-06-22 16:30] famoreno commented on #3
Hi @raghavendersahdev, I've cloned and tried to compile [your code](https://github.com/raghavendersahdev/mrpt/commits/mrpt-2.0-devel) but it seems that file `script_qt.cmake` is missing but it is included in your app's `CMakeLists.txt`. Please, upload it as soon as possible in order to test the code and evaluate it against the project timeline. Thanks!

[2017-06-22 17:16] raghavendersahdev commented on #3
Hi @famoreno  I have uploaded the [script_qt.cmake](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/cmakemodules/script_qt.cmake) in the cmakemodules folder. The visualize descriptor button and the window is under construction currently, I have figured out how to display the PolarImage, Spin Image and Log Polar image descriptors as QImages in a separate window. I am working on the wa

[2017-06-22 17:43] jolting commented on #3
@raghavendersahdev script_qt.cmake was already added.
https://github.com/MRPT/mrpt/commit/03e67f4306f67eebe4916af7abdaf9200b41a269

Looks like you haven't synced your mrpt-2.0 branch for quite a while. We need you to preserve git commit history. It's a bad idea to simply copy files out of one git tree and commit them to another. Committing a fresh new copy can cause issues when doing your final me

[2017-06-22 22:56] jlblancoc commented on #3
I was almost the day off the computer until now... and came to write exactly what @jolting warned you already!

But watching at the list of your commits, it seems clear to me that your commit history needs a clean up. Perhaps it's just that you're not used to distributed versioning control systems, so it's fine if that's the case.
From now on, this is, roughly speaking, the golden rule of **when**

[2017-06-22 23:57] raghavendersahdev commented on #3
Thanks @jlblancoc actually I am not used to the correct way of using distributed version control systems. Normally what I do for committing is:
- Clone the main repository in an empty folder
- work in a separate folder for building the files and testing
- I manually copy the files I changed / added using file explorer into the initial empty folder where I cloned the main repository into the respec

[2017-06-22 23:58] jolting commented on #3
I would probably just rebase the commits.

Rebasing rewrites git, which is a strict "no no" when other people depend on your commit history. This means if anyone else pulls from your tree, rebasing is BAD. On the other hand sometimes it's best to just start from scratch and although the commits have already been published to a personal git account, the chances of anyone pulling from that tree is s

[2017-06-23 02:05] jolting commented on #3
See not that hard:
https://github.com/jolting/mrpt/tree/raghavender-fixed

I rebased to MRPT/mrpt-2.0-devel, I dropped your CMakeLists.txt commit and I squashed your two SURF bug fix commits into one.

The first line is always a summary.
I'm not certain what "SURF bug fix" means, but that can be a summary. A few more words might be good, so I have some context what changed. Writing a good commit m

[2017-06-23 02:18] raghavendersahdev commented on #3
Thanks @jolting for the advice on rebasing, I will use more informative commit messages from my next commits.

[2017-06-23 07:44] shivangag commented on #5
Hey @bergercookie and @feroze,

Here is the screenshot of the starting phase of the GUI. It projects the markers in the space using their pose as returned by the detection module.
![gui](https://user-images.githubusercontent.com/16274660/27470689-c70deaf6-5812-11e7-9792-204360f9cd2f.png)

**Next Steps**
1. Using a set of images, create a map of the markers and estimate frame poses.
2. Replace imag

[2017-06-23 14:19] LisGein commented on #4
Hi @jlblancoc,
Sorry I haven't been answering for too long.

Did you mean *.simplemap.gz? If yes - I did it.

Also I added a copyright notice.
Next I will do refactoring СGlWidget and I'll adding a brief description of Doxygen.

[2017-06-23 14:26] jlblancoc commented on #4
Ok, good to know the files are still functional!

Btw: I think we discussed this in detail when preparing your proposal, and I'm aware it's early for this, but just in case: the goal is having the app only Asking for  .simplemap files when opening. The INI should be replaced by some GUI dialog, either with many checkboxes and fields to configure the maps, just a large edit space with the INI conte

[2017-06-23 14:31] LisGein commented on #4
What do you think will happen when a user opens a *.simplemap without *.ini? Nothing or will there be default settings?

[2017-06-23 14:47] jlblancoc commented on #4
It might end up being annoying, but... I think the best is always showing the "what kind of metric maps do you need" dialog??
Because depending on the type of sensors stored in the .simplemap, different maps could be built.

Thinking a bit more on how this ui would be, here are some ideas:
* there should be a large text area with the ini file contents (dynamically changed and hand editable), which

[2017-06-23 15:15] LisGein commented on #4
Perhaps it will be good if the program alternately tries to open maps (Points map, Beacon, e.t.c) until one of them opens up?

"typical setups" -- what do you mean?

[2017-06-23 17:03] jolting commented on #4
Hmmm. Maybe something like the way rviz works. Each type of data that can be visualized is listed and can be added to the the visualizer. I like how there is an easy way to add each type of data with rviz. Also I like how there is a menu that lets me tweak how each visualizable element is displays. Most importantly, I can easily turn them off when I'm not trying to visualize them.

[2017-06-23 23:18] spsancti commented on #2
Hi,
Here is my short summary of papers and articles that I have been studying in June, it includes only the most important articles:

http://andresmendes.github.io/Vehicle-Dynamics-Lateral/html/DocTirePacejka.html - Pacejka tire model
http://www-cdr.stanford.edu/dynamic/bywire/tires.pdf - Pacejka model short
http://www.edy.es/dev/docs/pacejka-94-parameters-explained-a-comprehensive-guide/ - anothe

[2017-06-24 15:52] jlblancoc commented on #1
You could push it to a separate branch so we can take a look at it just for evaluation purposes for this first evaluation period; then remove it after some more weeks if will be definitively useless.

Ok, go on with the GUI for benchmarking. Please, let me know the list of exact benchmarks you plan to support in it. I think we've discussed this in the past, but it's good to revisit it again ;-)

N

[2017-06-24 17:58] famoreno commented on #3
Hi all!
After all these changes I'm not sure about where is the repo with the on-going work :P.

I've cloned again @raghavendersahdev [https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel) but I couldn't compile it. The last commit (8 hours ago) included files with conflicts that should be fixed manually (`visualizedialog.cpp`

[2017-06-24 17:58] LisGein commented on #4
Thanks for the advice! So, I have started working with the configuration widget.

[2017-06-24 18:03] pranjal-rai commented on #1
Hi @jlblancoc

I have added both approaches for rebuild threshold method as separate branches [[1]](https://github.com/pranjal-rai/nanoflann/tree/rebuild_threshold_approach_1), [[2]](https://github.com/pranjal-rai/nanoflann/tree/rebuild_threshold_approach_2). Right now I have added the support for dynamic insertions by modifying the existing class itself without duplicating the class. I will struc

[2017-06-24 18:14] raghavendersahdev commented on #3
Hi @famoreno  my current work is in [here](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel/apps/benchmarking-image-features). I think I will follow @jlblancoc advice and start from scratch after deleting my old fork and creating a new fork. Should I do that ? as @jolting  had warned I would have conflicts while merging with the remote master tree [here](https://github.com/MRPT/mrpt/c

[2017-06-24 18:24] raghavendersahdev commented on #3
The current version of the app supports visualizing Polar Image, Log Polar Image and Spin Image descriptors, the visualization of the SIFT and SURF descriptor is near completion. Things I want to do before the evaluation:

- Provide user with an option for robust stereo matching
- provide option for image decimation (upsampling/downsampling)
- Add opencv wrappers for pending detectors/descriptors

[2017-06-25 18:04] famoreno commented on #3
Hi @raghavendersahdev , I've been testing the app so far and here are my comments and recommendations:

**Regarding the GUI**
- It's too big (gets out of my screen) and cannot be resized. This causes some buttons can not be clicked.
- The space in the parameters area is not wisely employed IMHO. Consider to use different widgets or resize them to save space, eg: checkboxes for true/false parameter

[2017-06-25 19:00] raghavendersahdev commented on #3
Thanks @famoreno for your comments and recommendations :-) . I agree with most of them. I have a few questions about non-maximal suppression, clicking on key-points for descriptor visualization and evaluation deadline.

I need to use an option like autoresizing layout option in QT (using SizeContraintPolicy, SizePolicy, etc for the widgets) to handle this. I will do this.
I totally agree with the

[2017-06-25 19:48] raghavendersahdev commented on #3
I will also change the layout of the GUI for the app something similar to the picture you shared, so no popping up of an additional window, I will put the code from the `visualizedescriptor.cpp `into the `mainwindow.cpp` file, Actually no popping of an additional window would make it easier to fix a few bugs responsible for app crashing too...

[2017-06-26 09:05] bergercookie commented on #5
Hi @shivangag,

I took a look at what you have uploaded so far and I tried to compile and run the `markerTest` sample. While it compiled successfully, running it with the `share/mrpt/datasets/markers/marker-on-cardboard.jpg` file didn't produce any output. I suppose this is not the desired behavior. Am I running it correctly? Is there some other file I should be using instead?

Also the first eval

[2017-06-26 09:47] shivangag commented on #5
Hey @bergercookie,
The problem is with the tag_family in `samples/markerTest/MARKER_TEST.INI` please change it from `ARUCO_MIP_36h12` to `ARUCO`. I was working with different tag families and might have changed the configuration file, which somehow crept into the remote repo.

[2017-06-26 11:45] famoreno commented on #3
Hi again!

I think it would be better if the first image of the dataset was automatically placed. Actuallly, I couldn't click on the next button since it went out of my screen.

Well, as far as I know, some detectors already include the `non-max-suppression` option in their opencv method (e.g. FAST) but not all of them. However, in MRPT other detectors implement a sort-of non-max suppression that

[2017-06-26 14:10] shivangag commented on #5
@bergercookie I have pushed the unit test file and an updated sample file.
I'm using a test image that is provided by aruco with camera parameters. Though, I have not yet pushed those.
I am still debugging the application to obtain correct camera pose. Essentially, I am using the markers already added to map and visible in current frame to calculate the frame pose as
`PoseFrame = MarkerPose - Mark

[2017-06-26 14:53] feroze commented on #5
@shivangag, could you upload a short video dataset (or images series) with the aruco markers at different frames at `mrpt/share/mrpt/datasets/markers/`? There is only a single image marker-on-cardboard.jpg which we cant really use to test out the example code. If you have a video you captured, could you push that and also update camera parameters for that video?

The example should process the fra

[2017-06-26 15:00] feroze commented on #5
For running the sample markerTest, `mrpt/share/mrpt/datasets/markers/CAMERA_PARAM.INI"` is missing. mrpt::utils::CStringList::loadFromFile fails the file exists assertion and program aborts. Could you please push that?

[2017-06-26 16:14] jlblancoc commented on #5
Nope!! Please, don't do this :-)

In theory, this is a full SE(3) optimization problem on its own. Are you familiar with graph-SLAM, edge constraints of various types, etc.?
First, first: what kind of metric information does the detection of a marker carries? Do you have a full 3D pose (x,y,z,yaw,pitch,roll) from one single observation of a marker with a monocular camera? Depending on what we have

[2017-06-26 16:51] jolting commented on #3
RE: QCustomPlot

@LisGein pointed out some licensing issues.

See https://github.com/MRPT/mrpt/issues/107

QCustomPlot is GPL3. qwt is lgpl. Lets use qwt instead.

[2017-06-26 17:21] feroze commented on #5
Given the camera parameters and marker configuration, Aruco should output the pose (XYZ and RPY) from a monocular image frame.

[2017-06-26 17:27] shivangag commented on #5
@jlblancoc Yes, as already told by @feroze, given camera parameters and marker size, aruco outputs full 6D pose of the markers with respect to the current frame.

[2017-06-26 18:24] famoreno commented on #3
Ops! I didn't know about the license issue of QCustomPlot. I agree on the qwt then.
Thanks for the tip @jolting.

[2017-06-27 08:54] raghavendersahdev commented on #3
Hi @famoreno , thanks for your recommendations, I will clean up the code before evaluation and will adhere to the requirements. Few updates:
- I have committed some changes. I was able to do the part of displaying descriptor of the key-point that the user clicks for both single and stereo images. output is like [this](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-

[2017-06-27 09:16] famoreno commented on #3
Robust stereo matching for me is to only consider a match between keypoint "i" in image 1 and keypoint "j" in image 2 if the descriptor distance between "i" and "j" is the minimum among all distances between "i" and all the keypoints in image 2 **AND** the distance between keypoint "j" and "i" is the minimum among all distances between "j" and all keypoints in image 1. It's like a double check of

[2017-06-27 09:24] jlblancoc commented on #2
Hi @spsancti !

Thanks for the great summary of your readings. Since I know you have already participated in writing a technical paper for a conference (am I wrong?), you know what is the "related works" section of a document, right?
Apart of putting this summary here, when time permits, add such a list to a "Related works" section of the Latex doc.

Just trying to synthesize what one has read, pu

[2017-06-27 09:28] jlblancoc commented on #4
Good idea, Hunter!

As a first approach, the configuration of how each metric map is
built, and rendered, is encoded in its "Initilization" section of the
configuration ("INI") file; so the configuration UI for each metric
map could be the same / based on / etc. the one we discussed
previously, Alice, regarding the questions the user is asked when a
simplemap is opened.

Search for `MAP_DEFINITION

[2017-06-27 09:32] jlblancoc commented on #5
Then, this becomes a problem of graph-slam, with observations being SE(3) transformations between the robot and the "landmarks", whose pose is also unknown.

It's really relevant that this **critical** discussion, which is at the core of the project, was not raised until now, one month after its beginning (!!). This reveals a clear problem with the planning of the project...

[2017-06-27 09:34] raghavendersahdev commented on #3
Thanks for letting me know about this, actually then robust stereo matching is currently done for one key-point in image1 to find the best match in image2. For every key-point in image1, I compute the descriptor distances of all key-points in image 2 and I need to display the shortest distance key-point on the image (I need to do this displaying of the matching key-point in image 2, I have all the

[2017-06-27 09:43] jlblancoc commented on #1
All good.

I'm not sure about your plans to go on working with branches, but if
the Logarithm method seems stable, you can merge it now to your fork's
master... do you agree? Or do you have other plans? I mention it
because in that way the next step (starting with benchmarking) could
be carried out in master...

[2017-06-27 09:52] pranjal-rai commented on #1
Hi @jlblancoc

Sure. I will go ahead and merge the Logarithm Method branch into master. I will then create another branch  from master for benchmarking which can be merged later.

[2017-06-27 10:10] LisGein commented on #4
What do you mean the initialization section? As I can see, for example CSimplePointsMap loads from config CPointsMap::TInsertionOptions and CPointsMap::TLikelihoodOptions. Where is the common part?

[2017-06-27 10:15] LisGein commented on #4
What about evaluation? Should I press the button right now?

[2017-06-27 11:15] shivangag commented on #5
@jlblancoc, As given in my proposal, The project was to use stereo camera observation and bundle-adjust the marker points in last n frames to get an online SLAM solution.
But later, as suggested by @bergercookie, I thought it would be better to provide both monocular and stereo solutions in the application.

[2017-06-27 11:25] pranjal-rai commented on #1
Hi @jlblancoc

I have merged Logarithmic Method into master and created another branch Benchmarking from master in which I will start working on the benchmarking tool.

I had some doubts regarding the work now.
As we planned to compare our result with 4 other kd-tree libraries, each of these libraries is needed to be first set up on the user's system before running the benchmarking tool. For examp

[2017-06-27 22:12] shivangag commented on #5
I had a thorough read of the graphslam module and this is how I've thought to add support for maker observations.
1. **Node Registration:** A new node registration decider class that adds a new node when the robot pose has changed above a threshold.
2. **Edge Registration:** A new edge registration decider class that will add edges between frames with common markers using the measurement constrain

[2017-06-28 08:56] raghavendersahdev commented on #3
Hi @famoreno I have added all of the functionality in the GUI app :-) except writing wrappers for [AKAZE](http://docs.opencv.org/3.1.0/db/d70/tutorial_akaze_matching.html), [LSD ](http://docs.opencv.org/3.1.0/df/dfa/tutorial_line_descriptor_main.html)Detectors and [BLD](http://docs.opencv.org/3.1.0/df/dfa/tutorial_line_descriptor_main.html), [Latch](http://docs.opencv.org/trunk/d6/d36/classcv_1_1x

[2017-06-28 11:55] jlblancoc commented on #3
Excellent progress!

I think Paco is able of testing your code from your fork, so there's not a
real need for a PR at this point, unless Paco says otherwise.

Cheers

[2017-06-28 21:24] famoreno commented on #3
I agree with @jlblancoc. There is no need for a PR, I'll use your fork.

[2017-06-28 22:01] raghavendersahdev commented on #3
Thanks @jlblancoc @famoreno . I will commit code for some of the opencv wrappers in CFeatureExtraction and fill in the evaluation tonight !

[2017-06-28 22:05] shivangag commented on #5
Hey @bergercookie and @feroze,
I have fixed the problem with relative pose estimation between two frames, and as you had guessed it gives pretty accurate poses for the camera frames. I have created a [marker-slam](https://github.com/shivangag/mrpt/commit/41fa1792b3f1d1a4f91e0f823cd36cf5d1b17b51) application that takes images as input and creates a map of markers and displays the frames poses with

[2017-06-29 07:52] jlblancoc commented on #1
Hi,

That's a good idea. Only, make sure of using cmake to download and build
the 3rd party libraries. Read on this command:

https://cmake.org/cmake/help/v3.0/module/ExternalProject.html

[2017-06-29 08:06] jlblancoc commented on #1
Also, for each library, check if there exists a Debian/Ubuntu package, then
make the cmake script to FIRST try to find and use the library in the
system (installed via apt), and if that fails THEN use the cmake external
projects.

[2017-06-30 08:58] raghavendersahdev commented on #3
Hi @famoreno I have added the AKAZE detector and the [LSD line detector](https://raw.githubusercontent.com/raghavendersahdev/mrpt/mrpt-2.0-devel/apps/benchmarking-image-features/outputs/LSD_output.png), I will add the LATCH and BSD Descriptor by June 30. Will try to finish week 5 stuff over the weekend. I made changes to the files `CFeatureExtraction.h`, `CFeature.h`, `types.h`, `CFeatureExtractio

[2017-06-30 12:38] pranjal-rai commented on #1
Hi @jlblancoc

We need ICP for benchmarking real datasets, should I write my own version or use some existing library like MRPT or maybe some other light library which is just meant for ICP?

[2017-06-30 14:18] jlblancoc commented on #1
Hi,

You could reuse mrpt code but.... I also think it's enough to benchmark one
iteration of finding the nearest neighbour for all points in one point
cloud to another, since that's the most costly part of icp, and the one we
are interested in... ok?

[2017-06-30 14:52] pranjal-rai commented on #1
okay. So instead of using any library I will just write a simple code which takes two point clouds and for every point in the first cloud finds closest point in the second one. We do not need any thing else from ICP. Right?

[2017-06-30 15:54] spsancti commented on #2
Hi all,
I added "Related works" section and will be adding docs here.
Also, I almost finished simple rolling friction from Ward&Iagnemma paper.

Tomorrow I'm starting my bus trip and will be online next time on Monday.

[2017-06-30 18:09] jlblancoc commented on #1
Correct :-)
That's my view and think it's perfectly plausible even if the benchmark is
to be incorporated into a scientific paper or alike.

[2017-06-30 19:57] pranjal-rai commented on #1
Hi @jlblancoc

Thanks for the reviews.
Clarifications: I was working on the features in the following branches.

- [Logartihmic Method](https://github.com/pranjal-rai/nanoflann/tree/LogarithmicMethod)
- [Rebuild Threshold Approach 1](https://github.com/pranjal-rai/nanoflann/tree/rebuild_threshold_approach_1)
- [Rebuild Threshold Approach 2](https://github.com/pranjal-rai/nanoflann/tree/rebuild_thr

[2017-06-30 20:39] jlblancoc commented on #1
Great! All is clear now.

[2017-07-01 00:04] bergercookie commented on #5
Hi @shivangag

Obviously this is not the way we had planned for this project to end. Other than that I hope that you enjoyed the collaboration and learned some stuff both in C++ as well as in vision, and SLAM.

I also hope that our feedback as mentors, as well as the GSoC experience overall, motivates you to further learn and improve as you go along.

P.S. We are going to be closing this issue, ho

[2017-07-01 10:14] #5 closed, assigned to nobody

[2017-07-02 15:52] LisGein commented on #4
Hi!
I did a widget for configuration. It can modify, add and remove configs for metric maps. Also it can load from *.ini file.
![image](https://user-images.githubusercontent.com/8298625/27771409-8e35b362-5f56-11e7-92d5-ac8e2c9ccd67.png)

I tried to save the configuration(TSetOfMetricMapInitializers::dumpToTextStream) in a file, but this function uses different format. For example: "----------- [CB

[2017-07-03 15:52] jlblancoc commented on #4
Hi Lis!

Well, that's UI is great, thanks for the effort.... definitively, you started with one of the more complex option structures!

Your question on ranges, together with me thinking of how much work may it be to MAINTAIN your UIs in the future (imagine those parameters changing in the future!!) made me reconsider this part of your project...

I think it's time to address this in a "Proper Way

[2017-07-04 10:34] raghavendersahdev commented on #3
Hi @famoreno, I commented the code for each of function headers, I will add more comments within function, about global variables and clean up the code in the following weeks. current output of the app looks like [this](https://raw.githubusercontent.com/raghavendersahdev/mrpt/c0ceb8442d898586bbe8f982c51acf599f63dc2d/apps/benchmarking-image-features/outputs/output_evaluation.png). I had a few quest

[2017-07-04 11:11] raghavendersahdev commented on #3
Alternatively to keep things simple can I use [this](https://avisingh599.github.io/vision/monocular-vo/) for monocular VO and extend it for different detectors/descriptors for the app...

[2017-07-04 20:51] spsancti commented on #2
Hi, I'm here, tomorrow starting work (finally).

In my evaluation, you mentioned more frequent communications. Shall I start some kind of blog or just write reports here?

[2017-07-05 17:21] LisGein commented on #4
Hi!
I agree that a more general way to viewing and editing properties is a good idea. But the current solution is simple and works. So I think that can be done after the other main features from my proposal will be implemented.

Cheers

[2017-07-05 18:13] jlblancoc commented on #4
Sure! Firstly, focus on the rendering of all kind of maps, mouse operations
like selecting a pose, etc

Let me know if you have a problem with anything of this, so you don't waste
time looking for mrpt documentation.

[2017-07-05 20:08] pranjal-rai commented on #1
Hi @jlblancoc

The kd-tree libraries we discussed earlier have the following ubuntu packages.
- flann -- **libflann-dev**
- libkdtree -- **libkdtree++-dev**
- ann -- **ann-tools**

Can we list these libraries to be the dependencies of nanoflann library as they will be required to run the benchmarking tests. If the user has already installed these ubuntu packages (using apt-get) then we do not need

[2017-07-05 21:25] spsancti commented on #2
Well, Ward-Iagnemma (WI) rolling resistance added to default friction model seems and feels  to be working. As for me, I'd move friction model and evaluation into wheel class, because different wheels can have different friction models (e.g. front and rear wheels in WI-model).
Anyway, at the moment we need to prepare some model evaluation technique, as "feeling of working" is not a good parameter.

[2017-07-05 21:39] torresmoreno commented on #2
Yes, this is a more complex model (but still not sophisticated as the multibody models), which is quite affordable to deal with.  For a reference with respect to compare, it would be nice if we got access to CarSIM, or ADAMS/Car. The problem is that we haven’t licenses. Thus, we could try to use this matlab example as ground-truth.  Let me discuss with @jlblancoc about the idea of coupling mvsim a

[2017-07-05 23:16] famoreno commented on #3
Hi @raghavendersahdev. Sorry for the delay in the answer!
Just some thoughts about the first part of your post:

For this metric, the app could provide two different options:

- The simplest case: just use this for datasets with a static camera. In this case, 'repeatability' is just about to evaluate if a keypoint is detected in successive frames in the same place (+- small threshold, e.g. 3 pixel

[2017-07-06 00:55] jlblancoc commented on #1
Hi!

Correct, that's the idea. Downloading via CMake is actually most useful for poor Windows users, who can't enjoy `apt-get` ;-)

Your link error seems to me to be caused by building flann as a STATIC library (`*.a`) instead of a DYNAMIC library (`*.so`). Why? The missing functions seem to belong to another dependency of FLANN called LZ4. In a DYNAMIC library, all required functions are already

[2017-07-06 01:47] jlblancoc commented on #4
Hi @LisGein !

I browsed your code and all I see is fine... I like you already addressed the re-factorization of the wx vs. Qt OpenGL widgets. Good!

Just one question: aren't these two sets of parameters duplicated?
* https://github.com/LisGein/mrpt/commit/ffe543c3167c89e87e4cd0e951ffda1c34201ef6#diff-73b633cc8f356993db9aff01605d02fbR28
* https://github.com/LisGein/mrpt/commit/ffe543c3167c89e87e4

[2017-07-06 11:15] LisGein commented on #4
Hi @jlblancoc!
Yes, I thought to stay only the CamaraParams structure, but for this it is necessary in the whole project to make use the functions of getters.
What do you think about it?

[2017-07-06 18:00] raghavendersahdev commented on #3
Thanks Paco for clarifying this. Your suggestions help :). I will find a dataset (possibly a tracking dataset where homographies/transformations are known for all subsequent frames- maybe in the form of ground truth) and evaluate the app on the dataset. I will provide the user option to use existing homography or compute homography using something like [this](http://www.learnopencv.com/homography-

[2017-07-06 21:47] jlblancoc commented on #4
Since we are aiming at the 2.0 version of mrpt... it may be
acceptable, if in that way all the camera parameters are more
centralized and accessed via getter/setters instead of being plainly
exposed...

[2017-07-06 23:26] jlblancoc commented on #2
Hi! Good to know friction is, at least, in a "feels like works" state 👍

Regarding evaluation, I think that something basic is being able to
(optionally, perhaps changing some configuration file parameter) generate a
plain text (csv or alike) file with the history of each vehicle, each
wheel, variables: global and local velocity vectors, wheel rotating speed,
traction and lateral and rolling resis

[2017-07-07 06:50] pranjal-rai commented on #1
Hi @jlblancoc

There are a lot of files in the 4 k-d tree libraries which we do not need at all like the python/ruby/matlab wrappers. Further we do not need to build the tests and examples in each of these libraries. I was thinking of adding the minimalistic code from these libraries to nanoflann permanently. I checked and the code we require is less than 2 MB in size. We can directly add the path

[2017-07-07 08:05] jlblancoc commented on #1
Hi!

I haven't check them all, but typically all libraries come with CMake variables like `BUILD_TESTS`, `BUILD_EXAMPLES`, etc. When automating its build via CMake external projects, we can instruct CMake to set them to "OFF" to build only what we need.

If there are not such CMake variables, there is even the option to apply a custom patch to disable the parts we don't want. But adding 2MB of 3rd

[2017-07-07 10:47] pranjal-rai commented on #1
I think that is a valid point. So now I have a [CMakeLists file](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/3rdparty/CMakeLists-ExternalProjects.txt) for 3rd part library. I have set the options such that when we build nanoflann it just clones flann and does not build it. Does this file look fine to you?

How do I do this? I tried something like -
`ADD_LIBRARY(flann_test SHARED fla

[2017-07-08 07:42] jlblancoc commented on #1
The lines you **removed** in [this commit](https://github.com/pranjal-rai/nanoflann/commit/10ceb9544842ea389395323dd5ab3a4847ac4029) were going in the right direction:

`CMAKE_ARGS -DBuildShared=OFF -DBuildExamples=OFF -DCMAKE_INSTALL_PREFIX=${EXECUTABLE_OUTPUT_PATH}/flann
`

So please add it again, but with some fixes: You'll have to go through the CMakeLists of each 3rd party lib to find the exa

[2017-07-08 08:53] pranjal-rai commented on #1
I fixed it in this [commit](https://github.com/pranjal-rai/nanoflann/commit/dff50ce6b20c90a8dfd2b390705fc77015ed459c). I switched `BUILD_EXAMPLES` to ON to build the examples in flann for now. The flann examples are built without any problem and the executables are saved in `nanoflann/build/bin/flann/bin/`. But the problem is there is no such variable like `BuildShared` in flann using which I can

[2017-07-08 16:45] jlblancoc commented on #1
Try setting [this variable](https://cmake.org/cmake/help/v3.0/variable/BUILD_SHARED_LIBS.html) for the
flann project.

Also, let me know if you have everything pushed to your fork so I can check
the latest version that gives you the build error.

[2017-07-08 17:13] pranjal-rai commented on #1
I tried setting this variable, it still gives the same build error. This [branch](https://github.com/pranjal-rai/nanoflann/tree/Benchmarking) is up to date and this is the [file](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/flann_test.cpp) which gives build error. Please let me know if you have any doubt.

[2017-07-08 17:49] pranjal-rai commented on #1
I have attached the build error.
[build_log.txt](https://github.com/MRPT/GSoC2017-discussions/files/1133175/build_log.txt)

[2017-07-09 01:09] jlblancoc commented on #1
It will be better to offer a separate CMake option for examples and for the benchmark, near [this line](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/CMakeLists.txt#L58).

[2017-07-09 01:11] jlblancoc commented on #1
(I'll add comments on things I see as I inspect the code and test it under MS Visual Studio 2017):

`#include <string>` is required in files using the function `getline()`, please add it.

[2017-07-09 01:15] jlblancoc commented on #1
You are missing a:

`TARGET_LINK_LIBRARIES(flann_test flann)`

in its CMakeLists file. By adding it, you ensure that flann is added as a dependency so it gets built by Makefile (or any other build system), and also you probably fix the linking issues...

[2017-07-09 06:59] pranjal-rai commented on #1
Fixed it [here](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/CMakeLists.txt#L60).

Updated in both [flann_test.cpp](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/flann_test.cpp#L34) and [nanoflann_test.cpp](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/nanoflann_test.cpp#L34).

I first had to set **flann_LIBRAR

[2017-07-09 13:29] jlblancoc commented on #1
Great!! You're welcome ;-)

As long as messages are not like "changes", "progress", etc. and you
give a reasonable overview of what's the most important things you are
trying to do with the commit, it'll be fine.
Imagine yourself, a few months from now, looking back through the
commit logs. The message should be clear enough to make you remember
what were you doing today. That would be my advise..

[2017-07-09 18:51] pranjal-rai commented on #1
I have now added test files for real datasets for 4 libraries namely [nanoflann](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/nanoflann_test.cpp), [flann](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/flann_test.cpp), [fastann](https://github.com/pranjal-rai/nanoflann/blob/Benchmarking/benchmarkTool/realTests/fastann_test.c

[2017-07-11 08:40] raghavendersahdev commented on #3
Hi @famoreno  I have a clear idea for the evaluation metrics and have the structure in place in the code, I need to fix some parts (for evaluation) (I need internet for this, didnt expect this). Unfortunately I do not have access to good proper internet as I am currectly attending Computer Vision Summer School, ICVSS 2017 in Sicily, Italy, I want to finish upto week 7 goals by July 18 (Week 7 end)

[2017-07-11 08:58] famoreno commented on #3
Hi @raghavendersahdev, after talking to the org admins, we've decided that it's better to keep it as simple as possible, so adapting [this](https://avisingh599.github.io/vision/monocular-vo/) to accept some detectors/descriptors should be more than enough (we don't want the MRPT codebase to grow too much, it's already kinda huge!).

Enjoy the Summer School!

[2017-07-11 09:24] raghavendersahdev commented on #3
Thanks will stick to the monocular version !

[2017-07-11 10:46] pranjal-rai commented on #1
Hi @jlblancoc

The following are the results for comparison on real 3d datasets. I have **clipped** the time taken for libkdtree because it was quite high in comparison to other three libraries.
![buildtime](https://user-images.githubusercontent.com/6441513/28065079-b48f4a3c-6654-11e7-8cb7-978f4239e346.png)
![querytime](https://user-images.githubusercontent.com/6441513/28065088-b894c3be-6654-11e7-

[2017-07-11 21:37] spsancti commented on #2
Hi, all.
I wrote the simple logger which successfully integrates with QtiPlot using CSV. Find it in f-parameters-logger.
Also, I found it more reproducible to use mrpt-navigation package with RViz and mvsim.

By the way, I received Matlab R2017a license for students and now can proceed with mex interfaces.
(In addition, I read some docs on MEX files.)

[2017-07-12 13:15] pranjal-rai commented on #1
The following are the results for comparison on random 3d datasets. The plot just includes the results for nanoflann and flann (as fastann and libkdtree are **EXTREMELY** slow for point clouds of size lager than 10^4).
![figure_1](https://user-images.githubusercontent.com/6441513/28119268-d3df6b8c-6731-11e7-807e-1827ea9841d8.png)
![figure_2](https://user-images.githubusercontent.com/6441513/281192

[2017-07-12 13:20] pranjal-rai commented on #1
Further my [branch](https://github.com/pranjal-rai/nanoflann/tree/Benchmarking) is up to date in case if you want to repeat any of the results.

[2017-07-12 18:55] LisGein commented on #4
Hi!
Before the pull request I will add getters and setters in the CGlCanvasBase.

I have added:
* visualize all robot poses on maps(red points):
![image](https://user-images.githubusercontent.com/8298625/28134475-bb691ff2-674b-11e7-9c4f-4a78ec6f520e.png)

* opening stereo images and image:
![image](https://user-images.githubusercontent.com/8298625/28134771-9fc36608-674c-11e7-959b-201e050e6078.png)

[2017-07-12 21:52] spsancti commented on #2
Hi, all.
Tried to connect Matlab with mexCallMATLAB with PID as initiator of the call.
I don't understand, how to put everything together, as matlab knows nothing about ROS and catkin knows nothing about mex.
Is there a way to compile everything alltogether? I see the only way to compile something as a shared library.
Probably, it is more suitable to use [Matlab Engine](https://de.mathworks.com/he

[2017-07-12 21:59] torresmoreno commented on #2
Did you try this toolbox?
https://es.mathworks.com/hardware-support/robot-operating-system.html
I have never used it, but maybe offers any help.

[2017-07-13 02:21] jlblancoc commented on #1
Great results, @pranjal-rai ! Thanks for the plots, they really help understanding the trends. It looks great for nanoflann 👍

Just minor details to improve about the graphs, thinking of a potential follow-up work in which we could try to publish some these results:
* try using `loglog()` or `semilogy()` in Matlab/octave to use a logarithmic scale in the x and/or y axes. In this way, the very larg

[2017-07-13 02:24] jlblancoc commented on #1
PS: Also, the time of operations like "single queries", which are quite fast, are better measured by executing it N times, then taking the average (perhaps you're already doing it, I didn't read that code yet). That is independent of the, again, outer loop M repetitions for getting the error bar statistics.

[2017-07-13 09:56] pranjal-rai commented on #1
I will start working on all the points. Thanks for the suggestions.

[2017-07-13 16:33] jlblancoc commented on #2
Hi Borys,

I won't probably have time to look at your code and give a better answer
until the weekend, but in the meanwhile... take a look at how mex are
generated for some mrpt classes. We used macros to optionally generate mex
interfaces to some regular c++ classes. See also the mex-grabber mrpt app
to see example of integration.

[2017-07-13 16:37] jlblancoc commented on #4
Great progress Alice!

I would only recommend changing the dots of poses to another visualization
that shows the heading. The simplest is
mrpt::opengl::stock_objects::simplexyzcorner.

Note that pull requests should go now against master. Then we'll probably
have to pass the new clang-format parser to your code, so it would save
time and problems if you make your code conform to the new clang form

[2017-07-13 19:45] spsancti commented on #2
Oh, thanks. Didn't think this way.
[This](https://github.com/MRPT/mrpt/wiki/MatlabBindings) looks like the problem solver.
Will try it at weekend, as tomorrow I'm taking part [here](http://eecvc.com/)

[2017-07-16 20:13] spsancti commented on #2
Hi, all.
I wasted two days with problems of mrpt-matlab binding and matlab's shared libraries.
When I try to generate cmake with BUILD_MATLAB flag, I'm getting into a lot of warnings about implicit directories: https://pastebin.com/0fpGQWkY . However, configuration step is fine.

If I ignore it, it results to undefined references on build.
I tried clean install of mrpt and matlab and also some adv

[2017-07-18 08:22] pranjal-rai commented on #1
Hi @jlblancoc

I have updated the plots as per the pointers. I have started working on the GUI part to integrate all the results. I have attached the results for tests on real dataset.
![figure_1](https://user-images.githubusercontent.com/6441513/28307364-4f2cfe5c-6bc0-11e7-804f-1b536ec0ce67.png)
![figure_2](https://user-images.githubusercontent.com/6441513/28307365-4f2e2d18-6bc0-11e7-8393-50f51d6

[2017-07-18 08:23] pranjal-rai commented on #1
I am already doing this.

[2017-07-18 09:53] spsancti commented on #2
Well, I wasted 1.5 days more with no solution.
I even tried to install it to completely clear OS with the same result.
For now, I'll abandon this for some time and continue with physical model and logs in order to test it altogether when there will be a solution.

[2017-07-18 11:15] LisGein commented on #4
Hello!

I changed the dots.

I have a few questions:
 * I think for 3D maps doesn't need minimap. Can I don't make this?
 * I wrote in my proposal:
      "8.2 Software should have tools for editing robot poses:
               8.2.1 Adding on a map."
    But now I think that it's useless. What do you think about it?
 *  You said, "pull requests should go now against master".
    What is the right w

[2017-07-18 17:17] jlblancoc commented on #4
Ok, it's fine!

Adding is not necessary, ok. Changing the pose, that **is** useful ;-)

Using the GitHub web interface, it's super easy: just view your branch online and clicking on "pull request", it will automatically propose you to open the PR against `master`.

[2017-07-18 17:20] jlblancoc commented on #1
They look fantastic... good!

In the first one, the yaxis says "(ms)" but... are the numbers actually in
ms, or in seconds?

It's also weird that the variance bars are so changing... how many
experiments are you averaging here? It seems doing a few more repetitions
might help to converge...

[2017-07-18 18:37] pranjal-rai commented on #1
ms, or in seconds?

The time on yaxis is in milliseconds, it is very small because the above test was run on dataset of order 10^3. The time is higher for larger datasets.
The following are the results for random dataset of order 10^6 for flann and nanoflann.
![figure_1](https://user-images.githubusercontent.com/6441513/28333379-6373123e-6c15-11e7-9981-072e0bcf1b73.png)
![figure_2](https://user-im

[2017-07-18 20:35] spsancti commented on #2
@jlblancoc @torresmoreno @FranciscoJManasAlvarez Don't you have any notion?

[2017-07-18 21:28] torresmoreno commented on #2
We have been exploring the possibility of using the ROS toolkit for Matlab in Ubuntu OS. As soon as we have any news on this regard, we will let you know. In the meanwhile, it would be nice if you define an experiment, export the dataset and compare with the planar model which we talk about from the Matlab tutorials.

[2017-07-18 22:20] jlblancoc commented on #1
Yes please. It's easy to do by setting srand() to the same number ;-)

[2017-07-18 22:32] pranjal-rai commented on #1
It works much better with around 50 experiments and same dataset. I removed srand().

![figure_1](https://user-images.githubusercontent.com/6441513/28342664-0357d0a2-6c37-11e7-84cc-81c5229d6a5f.png)

![figure_2](https://user-images.githubusercontent.com/6441513/28342665-035cd66a-6c37-11e7-85d0-3399ff208820.png)

[2017-07-18 22:41] pranjal-rai commented on #1
Attached are some screenshots of the GUI tool. Please suggest what all should we add in the tool.
I have committed all the changes to my [branch](https://github.com/pranjal-rai/nanoflann/tree/Benchmarking).

![gui0](https://user-images.githubusercontent.com/6441513/28342892-2e4cd888-6c38-11e7-9052-ee0118cad684.png)

![gui1](https://user-images.githubusercontent.com/6441513/28342894-2e5aedec-6c38-1

[2017-07-18 23:41] jlblancoc commented on #2
@spsancti I'm sorry to see all the problems you are having with MRPT-MATLAB bindings !!
I'm installing it in Linux so I can try to reproduce the problem.
@jbriales was the main author of the MEX bindings. @jbriales, don't waste more than 2 minutes on this but: did you remember having problems compiling & linking like [these ones](https://github.com/MRPT/GSoC2017-discussions/issues/2#issuecomment-3

[2017-07-18 23:43] jlblancoc commented on #2
@spsancti It's far from ideal but... could you give it a try with MRPT built a static libs instead of shared libs? Turn `BUILD_SHARED_LIBS` off in CMake.

[2017-07-19 00:26] jlblancoc commented on #1
It looks great! 👍

Good use of tk for quickly laying out a simple GUI.

Some comments:
* Please, add X & Y grid lines to the plots if that's easy.
* "Relative size of point cloud" might be better mapped to real numbers, i.e. the number of points. If they are spaced logarithmically, feel free of using a log x scale.

* For random datasets, you said

That actually doesn't make the comparison fair, u

[2017-07-19 04:08] jbriales commented on #2
Hi there!
Well, about the bindings, the kind of problems I'm seeing here don't look unfamiliar at all.
Unfortunately it's been a while since the last time I worked with them but, the main issues I remember in general with compiling with support for Matlab were:
- Conflicting libraries (typically system libraries included within Matlab own libraries as well). I'm not sure how I fixed these, althoug

[2017-07-19 04:19] jbriales commented on #2
I looked into my notes, and looking at your errors, I confirm the problem must be in conflicts between system and Matlab libraries. As I said, this is not elegant and maybe someone comes up with a better solution but my approach which seemed to work:
- Look at the *undefined reference to* error. From the symbol code, try to infer which is the problematic library. E.g. in your case *undefined refer

[2017-07-19 06:19] pranjal-rai commented on #1
I have added X & Y grid lines to the plots and replaced "Relative Size of point cloud" with actual size.
Here is a demo.
![figure_1](https://user-images.githubusercontent.com/6441513/28353097-b73aff28-6c77-11e7-9c77-6cb095f25692.png)
![figure_2](https://user-images.githubusercontent.com/6441513/28353098-b7435e0c-6c77-11e7-9c76-846c22720ad2.png)

I did not get this point. I am not sure how it is un

[2017-07-19 07:47] jlblancoc commented on #2
Thanks @jbriales !! :+1:

@spsancti I have confirmed that building with BUILD_SHARED_LIBS=ON works (despite the warnings about the nasty duplicated libs that come with MATLAB... sigh). I also had to make small changes to the `master` branch to fix compilation, so please remember updating your local copy of MRPT. By the way, if you have not done it until now, this will be the first time mvsim is bu

[2017-07-19 07:51] jlblancoc commented on #1
Graphs are now perfect, thanks! :+1:

Sorry, perhaps I explained it wrong: I'm referring only to the case of random point clouds. If srand() is not called, each pointcloud will be generated with different XYZ coordinates, so we're not comparing two libraries against the same pointcloud, but different libraries against different pointclouds... which is not equally significant. By calling srand(i) w

[2017-07-19 17:11] pranjal-rai commented on #1
Hi @jlblancoc

Thank you for the clarification. I fixed the issue and now I am using the fixed seed value i for a particular experiment for all the libraries. The results are same as before and the error bars also look okay.

![figure_1](https://user-images.githubusercontent.com/6441513/28380014-69916120-6cd3-11e7-90a1-ce6d657daa68.png)

[2017-07-20 05:01] raghavendersahdev commented on #3
Hi @famoreno some updates on my progress:

- **Week 5-6: Evaluation metrics -** I have finished the evaluation metrics (repeatibility, % of matches, false positives/negatives, dispersion, etc.). Sample output can be seen [here](https://raw.githubusercontent.com/raghavendersahdev/mrpt/mrpt-2.0-devel/apps/benchmarking-image-features/outputs/evaluation_output3_July17.png), [here](https://raw.githubus

[2017-07-20 12:53] feroze commented on #3
Hi @raghavendersahdev

The "Image Matching: Graffiti" dataset in http://kahlan.eps.surrey.ac.uk/featurespace/web/data.htm has the homography ground truths in the files inside each folder. Would that work?

Nice work with the VO!

[2017-07-20 13:12] LisGein commented on #4
When should I do pull requests?

I added several features:
* Enable/disable the grid;
* Change the background color;
* Change the grid color;
* Shortcuts for open simplemap and for open configuration;
* Select the pose.

Now, I am making a multi selection(with a rectangle and with a ctrl).

Can you check the code in [CGlWidget::mousePressEvent](https://github.com/LisGein/mrpt/blob/mrpt-2.0-devel/a

[2017-07-20 14:38] raghavendersahdev commented on #3
Hi @feroze thanks, yes the "Image Matching: Grafifiti" dataset should work!
Will finish the repeatability using this dataset, fix the odometry error displaying part and move on to the tracking task.

[2017-07-20 21:44] famoreno commented on #3
Hi @raghavendersahdev,
I see a lot of work here, good job!

The Graffiti dataset is a classic :P and it is perfect for the evaluation, thanks @feroze for pointing it out.
I'll have a look to the code during this weekend and give you some feedback about it.

It's ok for me.
All the best

[2017-07-20 21:51] raghavendersahdev commented on #3
Thanks @famoreno   I will try to clean up and comment the code before Friday midnight in that case :+1:

[2017-07-20 22:08] jlblancoc commented on #4
Good amount of work!

In your case, I think it makes sense to open a PR against master now, so we
see the output of travis and such.

I'll take a look at the code you mention...

[2017-07-21 21:27] spsancti commented on #2
Hi all,
I was able to compile MRPT with matlab using dirty hacks with libraries.
I substituted Matlab's opencv with mine one (also, in cmake I set system opencv_DIR instead of Matlab), and some additional things too. It looks not that reliable but at least it compiles.

Also, fixed improper namespace and std::thread usage in ```mex/apps/mex-test/mex_test.cpp```
@jbriales @jlblancoc Don't you have

[2017-07-22 07:18] raghavendersahdev commented on #3
Hi @famoreno few updates:

I have finished the homography based [repeatability task](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/mainwindow.cpp#L2692) and the tracking vision task is currently under construction, I am tracking key-points in successive frames based on the detector selected. The key-points are matched with the best patch based o

[2017-07-24 08:52] raghavendersahdev commented on #3
Hi @famoreno few more updates:

I have finished implementing the tracking vision task, sample output can be seen [here](https://raw.githubusercontent.com/raghavendersahdev/mrpt/mrpt-2.0-devel/apps/benchmarking-image-features/outputs/output_VO_july23.png) it asks the user for some parameters for the tracker, when the user checks the `Activate Tracking of Key-Points` all the tracker-parameters becom

[2017-07-24 17:15] famoreno commented on #3
Hi, @raghavendersahdev. I've been testing the code and here are my thoughts:

**Operation issues**
- It seems that if the dataset is grayscale the app crashes when loading the images with opencv.
- I can't make the visual odometry to work with the KITTI-7 dataset when no ground truth is provided (the use of a groundtruth file shouldn't be mandatory).
- While the app is computing VO there is no fee

[2017-07-24 20:04] raghavendersahdev commented on #3
Hi @famoreno thanks for the suggestions:

Yes currently the app only supports color images. Need to add cases everywhere for grayscale images too. Will do in the next commit.

as its a monocular VO problem we need a scale to plot the path for which ground truth would be needed.

I will fix this by trying to update the output VO image in real-time on the fly and/or add a label (X out of N files pro

[2017-07-24 20:39] spsancti commented on #2
Hi all!
Made mex-grabber to launch, got crashes and freezes at every time I launch script.

Spent some time and got achievement unlocked: "Make matlab spit out log before crash"!
And it has another linking problems: https://pastebin.com/PU6atDhy
It is (likely) caused by my libraries substitution.
It looks like matlab is not that compatible with my system libraries.
I also tried to install the same

[2017-07-24 21:05] raghavendersahdev commented on #3
Hi @famoreno
actually with regards to ground truth for KITTI, since its a monocular dataset, it is impossible to estimate the actual scale of translation from monocular VO alone, since it cannot distinguish between solutions like (x,y,z) and (cx,cy,cz). What [this](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/visual_odometry.cpp#L264) line does

[2017-07-24 21:22] spsancti commented on #2
@raghavendersahdev , why did you reference this issue?

[2017-07-24 21:24] raghavendersahdev commented on #2
sorry i wanted to write # 2 in my comments and wrote it without space so by mistake I referenced it unknowingly, my bad..!!

[2017-07-24 21:27] raghavendersahdev commented on #1
please ignore my reference, I by mistake referenced it by writing # 1 without space

[2017-07-25 06:26] jbriales commented on #2
Hi!
Well, I understand the frustration here. I remember I got a lot of
freezings and crash-ups until I got it work.
Then, I agree with jlblancoc it would be preferable to avoid ROS as a
bridge, if MEX works.
But then, I'm also afraid that unless we come into a clearer understanding
of why it fails, and how to make it work in a straightforward way (without
tampering with the libraries), this is not

[2017-07-25 09:19] famoreno commented on #3
Hi again! Some more comments about this:

I think that you only need to check that the image is not already in grayscale before converting it.

I think that opening .rawlog files should be an option of the input (single image, stereo image, single image folder, stereo image folders and rawlog files -- which indeed may contain images or stereo images), unless the orgs says otherwise.

performed vis

[2017-07-25 09:29] raghavendersahdev commented on #3
Hi @famoreno
Thanks for the advice I have fixed most of the bugs that you suggested earlier, I will soon upload within 2 hours or so, the sample video, tutorial and commit new code.
And fix the leftover bugs (KITTI app freezing, grayscale not working and maybe one more bug) in the next commit later today by July 26

Thanks :) .will make the repeatability, tracking, VO hidden when user selects sing

[2017-07-25 09:37] pranjal-rai commented on #1
Hi @jlblancoc

I have now [added](https://github.com/pranjal-rai/nanoflann/commit/28d02006114652fe41ad0b806ac86be0f26e7236) support for selecting libraries and using desired number of points for random tests.

The GUI now looks something like -
![figure1](https://user-images.githubusercontent.com/6441513/28565783-cf607484-714a-11e7-9ac5-bf624a726a79.png)

Please suggest if there are any more featu

[2017-07-25 13:35] raghavendersahdev commented on #3
Hi @famoreno , a sample video of the app can be found [here](https://youtu.be/qOFPBT7muW0). its not public
I have committed the code with your suggestions:
pending stuff:
- temporarily KITTI app freezing issue to be fixed
- working with GrayScale images too: should be straightforward, will fix today
- clearing off one plot which currently stays on the frame
- comments
- a few bugs to be fixed whic

[2017-07-26 07:25] spsancti commented on #2
Hi,
Nothing special happened, just porting mvsim...

@jbriales Let's cooperate to investigate the matlab troubles when you will have time.

Sincerely, Borys.

[2017-07-26 12:40] jlblancoc commented on #2
@spsancti Thanks for your time spent debugging that ugly, underneath world, of MATLAB and its entire copy of all system libraries... (screw good practices, yeah!!) (sigh).

Ok. Let's be practical: let's move to MATLAB's ROS toolkit to interface mvsim from matlab. The bright side is... that will enforce the current ROS API. Probably you'll need to add tons of new topics, add ROS services, etc.

BTW

[2017-07-26 12:43] jlblancoc commented on #3
Hi @raghavendersahdev ! Great video 👍 I'm sure @famoreno will find more comments about changes to do, but just wanted to congratulate you and your mentor for the **huge** progress done in these weeks.

[2017-07-26 13:25] raghavendersahdev commented on #3
Hi @jlblancoc , Thanks  :-)
Hi @famoreno I will make a commit within 2 hours or so which fixes pending bugs and has comments for Doxygen documentation. I have been stuck to fix the bug for progress bar for KITTI VO for quite some time. I am using somehting like [this](http://doc.qt.io/qt-4.8/qtconcurrentrun.html#run). Something is breaking, I will commit soon.

[2017-07-26 13:58] LisGein commented on #4
Hi!
Sorry for the long silence.
I have done multi selection with ctrl and I added in the general settings setting for robot poses and selected robot poses(size and colour).
Now, I'm preparing a PR. Today I am doing it.

Cheers :)

[2017-07-26 16:17] jlblancoc commented on #4
Great, I'm waiting for it!

[2017-07-26 16:47] pranjal-rai commented on #1
Hi @jlblancoc

My branch [Benchmarking](https://github.com/pranjal-rai/nanoflann/tree/Benchmarking) is up to date with all the changes. The benchmarking tool is complete with support for 4 libraries. Do I need to create a pull request at this stage?

[2017-07-26 18:02] raghavendersahdev commented on #3
Hi @famoreno few updates:
I have fixed the following bugs:
- Key-points are detected in subsequent frames when user clicks next and previous buttons as opposed to just the images being displayed earlier
- When user selects a key-point all others are also shown in a different color than the one that is selected as opposed to previously only selected one shown
- App currently supports Grayscale imag

[2017-07-26 18:05] LisGein commented on #4
I did it, but this branch has a lot of conflicts.
Is it normal?

[2017-07-26 19:25] famoreno commented on #3
I also like the video! It's much more clear to me how to use the app now.
I see that you've done a lot of updates in the last few days, great job :). I will try the complete app so far tomorrow and let you know my thoughts/suggestions.

But again, you've been doing a hard work these days. Congrats!

[2017-07-26 19:35] raghavendersahdev commented on #3
Thanks @famoreno  :+1:  I will also fill in the evaluation tonight.

[2017-07-26 20:37] jlblancoc commented on #4
Ohh! You broke mrpt! 😢

Just kidding! ;-)
Normally, no conflicts are expected, but given that these months we have
been doing an overall redesign of the entire mrpt towards the new major
release 2.0... yes, I expected conflicts.

Not your fault, will try to fix them myself, no worries.

[2017-07-26 21:12] spsancti commented on #2
Hi, @jlblancoc
I will finish posrting mvsim to new mrpt and the go digging into ROS.
Hope, It will be more simple than Matlab :D

Text loger works, here is a basic usage example with QtiPlot:
![image](https://user-images.githubusercontent.com/8904387/28642786-408f3728-725c-11e7-9317-e13da54ae6dd.png)

[2017-07-27 05:26] raghavendersahdev commented on #3
new video with few bugs fixed is available [here](https://youtu.be/0mStsTPb2zQ)
I just filled the second evaluation too.

[2017-07-27 08:17] jlblancoc commented on #4
Hi @LisGein !

I just managed to solved all the conflicts after the merge and could successfully test your app... great progress! :+1:

However, now that the app starts to approach a more definitive state, I feel it's time to make some improvements (put them in your list and process them in the order you prefer):
* Just a matter of consistency: locale LC_NUMERIC is used by wxWidgets and Qt to sele

[2017-07-27 08:23] jlblancoc commented on #4
PS: I've started to update the first comment on the top, to reflect the list of your PRs. It's useful if you want to submit the URL of this issue ticket as a "results" link at the end of GSoC. Making a YouTube video is also an ideal final add-on, but obviously that will have to wait a bit yet...

[2017-07-27 09:14] LisGein commented on #4
Thank you :)

*  You wrote: "locale LC_NUMERIC is used by wxWidgets and Qt to select the format of numbers depending on the country"
Can you give an example this numbers? I've never seen this.

* About steps of the resolution spin button: I stopped this task until reflections are not ready.

* The last metric map is not deleted: Yes, it's a bug. I'll fix it. Thank you!

* I want to implement the "

[2017-07-27 21:27] jolting commented on #4
The setlocale thing is also part of the C standard and is used by many of the print functions.
http://en.cppreference.com/w/cpp/locale/setlocale

LC_NUMERIC specifies the decimal point, the thousands seperator and the grouping. In the US we use a decimal point. Many countries use decimal commas.

[2017-07-27 23:32] jlblancoc commented on #4
@LisGein On `#include <QGLWidget>`, [I read](https://stackoverflow.com/a/37964784/1631514) that: "As suggested in the Qt documentation on QGLWidget, starting from Qt 5.4 you should use QOpenGLWidget instead.".

Probably not critical...

[2017-07-27 23:41] jlblancoc commented on #4
As Hunter said above, in many countries (including here in Spain), decimal separator is a ",". So, when showing CPose2D poses, I see "[1,200 , 4,500 , 6,700]"  instead of "[1.200 4.500 6.700]". This, together to the fact that we often format numbers with three digits, plus that the thousands separator is a "."... is **extremely** annoying and prone to errors! Also, saving numbers in that format is

[2017-07-27 23:53] jlblancoc commented on #2
Hi,

Good! Could you please add details on how to generate those logs, and the meaning of each variable, to the LaTeX document? Also, are **forces** being logged as well? (I think I can't see them in this particular screenshot...)

We also have quickly reviewed the rest that document and have more comments on it. Will write them directly as GH comments on your fork, you'll receive notifications on

[2017-07-28 00:30] jlblancoc commented on #2
Well, I would better let you know here the comments on the "user_manual":

* I would say it's fundamental, given the "complexity" of the "wheel model", to have a picture (made in Autocad, FreeCAD, PowerPoint, Impress,... whatever, but capable of doing quality vector pictures!) that illustrates the model of "one wheel": forces, coordinate axes, etc.

* Wheels are indeed cylinders... where did the r

[2017-07-28 04:40] raghavendersahdev commented on #3
Hi @famoreno I was able to fix the app freezing issue during VO computation by popping up a dialog which shows the message, "Please wait, Visual Odometry Running" output is shown below, got the QFutureWatcher and QtConcurrent stuff working. The Dialogbox tells the user that the app is still running and not frozen
![vo_freezing_issue](https://user-images.githubusercontent.com/5405862/28702760-27c13

[2017-07-28 07:40] jlblancoc commented on #4
One more issue: if one moves the zoom slider at the bottom, right after opening the app (with no active metric map yet), the program crashes with seg. fault (!!).

Hopefully it's just a missing `if()` check...

I have also verified that, at least in Linux, the non-Qt CMyGLCanvas is not working after the refactoring :-(
You can see it, for example, in the app `SceneViewer3D`.

[2017-07-28 11:48] spsancti commented on #2
Hi, @jlblancoc
Thanks for your review of documentation.
I will fix it today evening. Also, I'll add info about loggers there.
About my notes __nothing interesting here__ - I'm writing them with regard to the current code. When I write something, I'll update it.

[2017-07-28 15:24] LisGein commented on #4
About locale: I understood, thanks! I'll do it.

@jlblancoc thanks, for the note of QOpenGLWidget. I didn't know. I'll change it.

I'll see CMyGLCanvas.
I want to suggest to change the class name to CWxGlCanvas.
Also, I found a small mistake in the base class(I added check min and max).

missing if(): Yes, thank you for excellent testing! I'll fix all bugs.

"GCC build errors in Spanish drive me m

[2017-07-28 15:27] LisGein commented on #4
I want an advice. How do you think can I delete my MRPT's fork and fork again?

[2017-07-28 15:45] jlblancoc commented on #4
In the past I have done that by deleting my fork and creating a new one
again... Not too elegant, but fast!

[2017-07-28 15:56] LisGein commented on #4
Thank you!
What is the elegant way?

[2017-07-28 16:29] jlblancoc commented on #4
I guess doing it via a merge and/or rebase is less dramatic, but I'm
actually not sure if it will add unnecessary commits to the git tree...

[2017-07-28 16:34] LisGein commented on #4
I have a compilation error in otherlibs/assimp/code/ACLoader.cpp on line 670
boost::scoped_ptr<Subdivider> div(std::make_aligned_shared<Subdivider>(Subdivider::CATMULL_CLARKE));

May it's mean mrpt instead of std?

[2017-07-28 16:43] jlblancoc commented on #4
Just set BUILD_ASSIMP=Off for now...

[2017-07-28 16:44] jolting commented on #4
Assimp is unnecessary, but assimp uses boost pointers. That needs to go back to boost::make_shared

[2017-07-28 16:47] LisGein commented on #4
@jlblancoc  thank you! I forgot it.

@jolting  do I need to do this?

[2017-07-28 16:48] jolting commented on #4
No. This wasn't your fault. If you'd like to fix it go ahead.

[2017-07-28 17:11] jolting commented on #4
Also, here's my input on the earlier conversation. The difference between merge and rebase is that merge isn't suppose to rewrite git history. The idea of "reforking" a branch is essentially rebasing.

A merged keeps all the patches applied to the old branch and creates a merge commit that handles the conflicts. A rebase reapplies all the patches that were formerly applied to an old branch, but ap

[2017-07-28 17:16] jolting commented on #4
One more thing. If you do a rebase, then you will have to force the push when pushing to github because github will complain about the mismatching git history.

[2017-07-28 23:05] jlblancoc commented on #1
Hi @pranjal-rai !

Sorry for the delay in answering to your project comments... As you might guess, filling in the evaluation without writing here in advance means that, overall, progress is good... yay! :+1:

I have a few comments on minor improvements on the the benchmark tool, and a proposal for what's next:

First, on the benchmark:
* The name "tool" is rather generic... what about a more desc

[2017-07-28 23:16] jlblancoc commented on #1
Next, on next steps:

One of the scheduled tasks we discussed during the preparation time was the extension of nanoflann to non-flat spaces like SO(2), SE(2), SO(3) and SE(3). Please, read ch. 9 of [this doc](http://ingmec.ual.es/~jlblanco/papers/jlblanco2010geometry3D_techrep.pdf) if you need clarification or a refresh on the notation -- see also [this Wiki page](https://en.wikipedia.org/wiki/Cir

[2017-07-29 15:23] jlblancoc commented on #4
Hi! @jolting Of course, I totally agree with you in that rebasing is bad practice for public repositories.
However... being pragmatic, doing it in a "private" branch or in a fork, when you are "sure" that the rebase will not affect anyone else should not be just "okay"? :-)

@LisGein :

Sure. I guessed you meant `CMyGLCanvasBase`, right?
Done here: https://github.com/MRPT/mrpt/commit/12886ca01b644

[2017-07-30 00:43] jlblancoc commented on #4
Hi again @LisGein !

Do you have access to a Windows? I tested today your app with Visual Studio 2015 + Qt5.7 and I needed to make a number of changes to make it build. Nothing serious, just take a look [here](https://github.com/MRPT/mrpt/commit/8bbe6c27c658ad71851c4034911682b8ed243934) and [here](https://github.com/MRPT/mrpt/commit/feacdfa251420909b5f0e7714ac5996c03ffbee4) to be aware of them. Th

[2017-07-31 07:41] pranjal-rai commented on #1
Hi @jlblancoc

I have named the tool to Nanoflann Benchmarking Tool

I have added instructions to run the tests on the open screen of the tool.

![openscreen](https://user-images.githubusercontent.com/6441513/28767329-da525bdc-75f0-11e7-850d-2afe3a04439a.png)

Fixed.

I have updated my [branch](https://github.com/pranjal-rai/nanoflann/tree/Benchmarking) and will merge it with master once you appro

[2017-07-31 11:40] LisGein commented on #4
@jolting thank you for the explanation! It's useful information for me.

@jlblancoc I have VirtualBox. I want to try to repeat it.
How it's possible? (I tried with enabled in cmake-gui DISABLE_OPENCV, but I think I forgot something because it doesn't compile).

I usually use Linux and Windows without a console looks awful :D

[2017-07-31 11:58] raghavendersahdev commented on #3
Hi @famoreno I am in the process of writing code for Place Recognition task, will try to finish by Tuesday night (August 1). Currently I am planning of doing the following:
1. Provide user the options for inputting training and testing dataset
2. Extract features from the training set based on the detector/descriptor combination
3. Creating a feature vector for each image and maybe doing PCA for r

[2017-07-31 15:49] LisGein commented on #4
I have done:
* locale;
* fixed deleting a last metric map form viewer;
* added to metric maps name numbers in tabs;
* fixed crash when nothing opened and using zoom controller;
* added "Exit" in "File";
* fixed the selected "dancing point";
* replaced QGLWidget to QOpenGLWidget;
* default m_minZoom == -1.0f, m_maxZoom == -1.0f in CGlCanvasBase(because In the previous base class this was not)

[2017-07-31 18:03] jolting commented on #4
I think it's okay. That goes for private(payed for or educational) or personal(public) Git repositories.

`git log --graph` will give you a good idea about the complexity of the Git History. If it looks like spaghetti you may be doing something wrong.

[2017-08-01 23:53] pranjal-rai commented on #1
Hi @jlblancoc

I found this link from our earlier conversations.
[http://ingmec.ual.es/~jlblanco/papers/blanco2013tutorial-manifolds-introduction-robotics.pdf](http://ingmec.ual.es/~jlblanco/papers/blanco2013tutorial-manifolds-introduction-robotics.pdf)

So I guess, we need to add support for Frobenius norm and Riemannian distance, right?

[2017-08-02 00:02] pranjal-rai commented on #1
Is there any specific parametrization which has to be used to store the poses or I can use any of these 3 parametrizations: yaw-pitch-roll, quaternion, transformation matrices?

[2017-08-02 12:49] jlblancoc commented on #1
Thanks, much better now!

You can merge that branch.

El 31 jul. 2017 9:41 a. m., "Pranjal Rai" <notifications@github.com>
escribió:

[2017-08-02 12:54] jlblancoc commented on #1
Exactly, those two metrics are quite common so it's good to have both of
them.

On what parameterization of so(3) we shall support... I'm not sure. On the
one hand, forcing users to store full 3x3 matrices will be the most
efficient (you'll check this while implementing the metrics...), since I
think any other parameterization requires passing to matrix form during
comparison, which will be a wast

[2017-08-02 12:56] jlblancoc commented on #1
@jbriales sorry to bother you with this other gsoc project... but since you're the expert in hot stuff... :-)

Do you recommend us any other metric for so(3), apart of Frobenius norm and Riemannian distance? We'll use them for kd-tree building and querying.
Thanks!

[2017-08-02 20:40] pranjal-rai commented on #1
Hi @jlblancoc

I read some portion of this [paper](http://ai2-s2-pdfs.s3.amazonaws.com/5617/8de1001efe54792ad93f6980de5d5e91906b.pdf) and concluded that quaternion parametrization is a good choice for 3d rotations. Further there is a metric mentioned in the paper,  **Inner Product of Unit Quaternions** (section 3.4) defined over the quaternions which seems a good option for metric choice because a

[2017-08-04 12:23] jlblancoc commented on #1
I'm glad you investigated it! Ok, start assuming rotations are always
stored as unit quaternions; it's quite common and compact.

What about the idea of using a template argument of tuple<> to describe the
type of metric of each part of the state vectors, do you have a sketch on
which we can further discuss?

Cheers.

[2017-08-04 18:14] raghavendersahdev commented on #3
Hi @famoreno small update:
I am still working on Place Recognition (its taking a little longer than I had expected), I am currently storing the features from the training dataset. Each key-point has a descriptor associated with it and each descriptor is associated with an image, these descriptors are called words. So I compute all words in the training dataset with labels of the respective classes

[2017-08-04 22:30] pranjal-rai commented on #1
So right now, I am planning to implement the following two metrics which are defined over quaternions q1 and q2 as:

- **Φ3(q1,q2) = arccos(|q1 · q2|)**
(4 multiplications, 1 arccos, 1 comparison)
Range : [0,π/2]

- **Φ4(q1,q2) = 1 − |q1 · q2|**
(4 multiplications, 1 comparison)
Range : [0, 1]

In the [paper](http://ai2-s2-pdfs.s3.amazonaws.com/5617/8de1001efe54792ad93f6980de5d5e91906b.pdf) they h

[2017-08-04 22:33] pranjal-rai commented on #1
Along with this I can also add a function to convert rotation matrix to quaternions, to support rotation matrix as well.

[2017-08-04 23:40] jlblancoc commented on #1
Ok to go on with those two metrics (we need "names" for them! ;-).

I would prefer not to do it, at least for now. Let's focus on one particular parameterization... It's the "Parsimony principle" of designing library APIs ;-)

On the metrics and tuples, this is what I have in my mind:

The final user should be able to use as *metric* class (similar, more complete examples shall be included in the

[2017-08-05 10:25] LisGein commented on #4
Hi!
I have done deleting observations from maps and undo/redo.
The next thing I will do is update the map after deleting(now I create new widgets) and deleting robot poses from observations tree.

Thanks to @jlblancoc I found out information about const references in Qt signals and slots. Also, I found out information about [New Signal Slot Syntax](https://wiki.qt.io/New_Signal_Slot_Syntax).

[2017-08-05 21:08] pranjal-rai commented on #1
We can name Φ3, Φ4 metrics as **acosInnerProdQuat_Adaptor** and **InnerProdQuat_Adaptor** respectively.

Okay.

In the current implementation, the distance adaptors are implemented as separate structs. For example there are structs named **[L1_Adaptor](https://github.com/jlblancoc/nanoflann/blob/master/include/nanoflann.hpp#L263)**, **[L2_Adaptor](https://github.com/jlblancoc/nanoflann/blob/master

[2017-08-07 05:25] raghavendersahdev commented on #3
Hi @famoreno I have finished the place recognition task, it currently works with SIFT, SURF, ORB, BLD and LATCH descriptors and most detectors (except Harris-will add exception(pop up message box for _cant be selected_) for it)...! here are some sample outputs [sample1](https://raw.githubusercontent.com/raghavendersahdev/mrpt/mrpt-2.0-devel/apps/benchmarking-image-features/outputs/place_recognitio

[2017-08-07 08:29] pranjal-rai commented on #1
Hi @jlblancoc

I have created a new [branch](https://github.com/pranjal-rai/nanoflann/tree/MetricAdaptor) and I will keep it updated with all the changes. I will merge this branch to master once I am done.

[2017-08-07 16:25] jlblancoc commented on #1
Great!

That's exactly what I had in mind, you got it perfectly 👍

Sure, I thought of that but didn't want to complicate things right from the beginning: for now, just *add* all metrics for all the vector segments. Later, we can add an optional scaling / weighting factor to each of the metric parts, e.g. SO(3) weights 10x more than the translational part, etc.

Sorry for the late answers!

[2017-08-07 16:28] jlblancoc commented on #4
👍 cool to learn on that new syntax, thanks!

Will check it asap and give you some feedback.

[2017-08-07 16:30] jlblancoc commented on #3
Great work so far! Let's wait for your main mentors to give you detailed feedback, but for now:

Yes, that's correct, go ahead and create the fork. Use the branch "master" as base for your work.

[2017-08-07 16:36] raghavendersahdev commented on #3
Thanks @jlblancoc I will create a fork and start to extend [this](https://github.com/mrpt-ros-pkg/mrpt_navigation/tree/master/mrpt_rawlog) ROS package after getting used to and reading about the mrpt rawlog format.

[2017-08-07 17:37] jolting commented on #4
Neat. I've found that macros don't play nicely with type deduction or at least they are unintuitive.

I can't wait until c++ is advanced enough to eliminate the need for Qt moc altogether. Without resorting to uglier macros, there are still some c++ features required before moc can be eliminated.

[2017-08-07 21:25] spsancti commented on #2
Hi @jlblancoc ,

I  finished porting mvsim to the new MRPT. BTW, I ported mrpt-navigation (that was easier).

This took so long because I fell under the spell of the impostor syndrome thinking that only my code can be a failure. However, there is a problem in MRPT related to fail in initializing of graphical system (freeze on startup) and segmentation fault on click into window. I spent 4 days deb

[2017-08-08 11:20] pranjal-rai commented on #1
Hi @jlblancoc

I had a doubt in the code.
What will be the [accum_dist](https://github.com/jlblancoc/nanoflann/blob/master/include/nanoflann.hpp#L374) function for metric InnerProdQuat_Adaptor and acosInnerProdQuat_Adaptor?

**InnerProdQuat_Adaptor**
1 − |q1 · q2|

**acosInnerProdQuat_Adaptor**
arccos(|q1 · q2|)

[2017-08-08 12:34] jbriales commented on #1
Hi everyone!
Sorry for the very late answer, I couldn't check the mail for almost two weeks and the mail stack grew out of control.
Anyway, I saw you already solved the issue quite satisfactorily. As @pranjal-rai found out, I think metrics related to quaternions are probably the most efficient ones. I have no experience with those, as I usually employ the Frobenius norm for its simplicity in terms

[2017-08-08 12:34] famoreno commented on #3
Hi @raghavendersahdev, sorry for the long silence!
I see you've advanced quite a lot, congrats! Thanks for the new video, it makes things more clear for me.

I've been revising the code and here there are some tips/suggestions/comments about that:
- I see that the Place Recognition part is heavily oriented to be used with the KTH IDOL place recognition dataset. Maybe it would be better if it is mo

[2017-08-08 13:46] pranjal-rai commented on #1
Thanks @jbriales , I will read the paper you suggested.

@jlblancoc

I found out that [accum_dist](https://github.com/jlblancoc/nanoflann/blob/master/include/nanoflann.hpp#L374) is the partial distance, which is calculated using just one dimension and is used by kd-tree while traversal. So what will be the partial distance for our metrics?
Source : [flann code](https://github.com/mariusmuja/flann/

[2017-08-08 15:11] jlblancoc commented on #1
Thanks Jesus! I know you took a loooong flight, thanks for your time ;-)

[2017-08-08 15:14] jlblancoc commented on #1
Hi Pranjal!

Yes, that function for accumulating distances now should be refactoredj
that's probably the most difficult part of what needs to be done to
accomplish the generality of state space topologies...

I think we should transform the calls to that functions, iterated over N
dimensions, to one call per "topology group/type", then do the loop inside
the metric-specific class.

Does it make se

[2017-08-08 15:35] pranjal-rai commented on #1
dimensions, to one call per "topology group/type", then do the loop inside
the metric-specific class.

But there are instances in the code where we are calling accum_dist for just a single dimension. For example, to calculate [cut_dist](https://github.com/jlblancoc/nanoflann/blob/master/include/nanoflann.hpp#L1245) while traversing the tree. What should be returned in this case?

[2017-08-08 19:27] raghavendersahdev commented on #3
Thanks @famoreno for the suggestions

thanks, I will keep it as is for now.

Yes I will remove it later, just for tracing purpose.

Will do it.

[This](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/apps/benchmarking-image-features/src/place_recognition.cpp#L406) line would be unnecessary as I am explicitly assigning the labels by iterating over the [for](https://github.com/raghaven

[2017-08-09 01:00] jlblancoc commented on #2
Your changes to port mvsim to MRPT 2.0 have been merged (thanks!!); I also added the corresponding link to the top comment on this page, with the idea of leaving this ticket as the URL you can submit as "the result page" in final GSoC forms.

[2017-08-10 00:01] pranjal-rai commented on #1
Hi @jlblancoc

I am stuck with the accumulating distance part. I tried looking up about it but did not find anything. Can you please help me out?

[2017-08-10 14:40] LisGein commented on #4
Hi!
I have done moving observations from maps and undo/redo for this. Also, I have added the toolbar for operations from the menu and icons for almost each icon :)

[2017-08-11 16:30] jlblancoc commented on #1
Hi!

I assume your latest changes are in your fork and uploaded to the latest branch, right? I'll take a look tonight and help you out of this, don't worry.

BTW: To put you in context of why this nanoflann subproject is useful within MRPT (ICP aside), here is one glowing place where a SE(2) kd-tree would be fantastic to have:
https://github.com/MRPT/mrpt/blob/master/libs/nav/src/planners/PlannerR

[2017-08-11 19:49] pranjal-rai commented on #1
I have updated my [fork](https://github.com/pranjal-rai/nanoflann/tree/MetricAdaptor). I still need to clean up the code.

[2017-08-12 11:59] jlblancoc commented on #1
Hi!
Just some a minor thing you can work on in the meanwhile: since we now have many "projects" (CMake targets) inside the nanoflann repo, it's great to organize them in so called [solution folders](https://cmake.org/cmake/help/v3.5/prop_tgt/FOLDER.html)

It's easy to do:

[code]

At least, this is very useful for Visual Studio, I don't know if any Linux IDE uses the folder organization as well...

[2017-08-13 04:33] raghavendersahdev commented on #3
Hi @famoreno a small update
- I have forked the[ mrpt_navigation code here](https://github.com/raghavendersahdev/mrpt_navigation) and have made a bridge between 3 of the 4 conversion for IMU, GPS, Range. Image is still to be done. They are still under construction but are near completion. My updates to the mrpt_bridge ROS package are currently[ here](https://github.com/raghavendersahdev/mrpt_navig

[2017-08-13 21:48] pranjal-rai commented on #1
Hi @jlblancoc

I have added the solution folders [here](https://github.com/pranjal-rai/nanoflann/commit/bd7bd24f5485d57b4c2cca4c27dce7875b8df424). I was not able to test it as I am a linux user.
I will now start documenting and cleaning all the codes. Meanwhile please suggest to me if there is any other task which can be done.
Also Is there any update on the accumulating distance part?

[2017-08-14 22:24] spsancti commented on #2
Hi @jlblancoc !
I ported mrpt-navigation to check model, please, check out my [PR](https://github.com/mrpt-ros-pkg/mrpt_navigation/pull/79).
I also screwed a bit with [freezing](https://github.com/MRPT/mrpt/issues/573) bug in master, nothing suitable found. I will base my work on fc9d4d0 now so not to waste time anymore.

[2017-08-16 22:35] jlblancoc commented on #1
👍 to clean-up and documenting!

Sorry about the accumulating distance task... I got 100% absorbed by the tons of bugs/tasks in the main MRPT project (sigh). Will look at your topic now.

[2017-08-17 00:45] jlblancoc commented on #1
Hi @pranjal-rai !

After a more careful inspection of the new code, here are some new recommendations:
* For consistency, I think it'll be better to do this renaming:
  * `metric_InnerProdQuat` => `metric_SO3_InnerProdQuat`
  * `metric_acosInnerProdQuat` => `metric_SO3_acosInnerProdQuat`
  * (idem for the `*_Adaptor` classes)
* I noticed that we still miss a metric for `SO2` (!). Probably because

[2017-08-17 01:05] jlblancoc commented on #1
* At some point things should have gone out of control (not your fault, the code was already like that before GSoC!): you may notice that there are a set of structs named `metric_L1`, `metric_L2`,... which are NOT used at all... Instead, examples directly use as second templ. argument the `*_Adaptor<num_t,...>` type, which is long to type and obscures the declarations.

Please, change all examples

[2017-08-17 01:22] jlblancoc commented on #1
* According to the docs in `nanoflann.hpp`:

[code]

So, please, refactor the existing metric classes (including the new SO2 & SO3; forget about SE2/3 for now!) such that they are able to work without `kdtree_distance()`; even more, let's get rid of kdtree_distance(), since it seems to cause confusion:
 * Remove the mention to "kdtree_distance" in the nanoflann.hpp docs about the expected DatasetA

[2017-08-17 05:40] raghavendersahdev commented on #3
Hi @famoreno a small update
- The benchmarking GUI app now supports MRPT rawlog datasets also, sample out put can be seen in this video. [here](https://youtu.be/WPAreSZ7V44), benchmarking code: [here](https://github.com/raghavendersahdev/mrpt/tree/mrpt-2.0-devel/apps/benchmarking-image-features)
- mrpt_ros bridge package currently supports all the 4 convertions (Image, GPS, IMU and Range). mrpt_br

[2017-08-17 08:25] pranjal-rai commented on #1
Hi @jlblancoc

Thanks for all the points. I will start working on all these pointers now and get them done ASAP. I will come back to you in case I have any doubt.

[2017-08-17 13:27] pranjal-rai commented on #1
I have removed the requirement of function `kdtree_distance` [here](https://github.com/pranjal-rai/nanoflann/commit/b83c291bd49115d8813dae4ac2f77fdab6ef2d6e). I still need to update it for new metric classes.

[2017-08-17 14:41] pranjal-rai commented on #1
I have completed the following tasks :

Related commits: [1](https://github.com/pranjal-rai/nanoflann/commit/b83c291bd49115d8813dae4ac2f77fdab6ef2d6e), [2](https://github.com/pranjal-rai/nanoflann/commit/61211afc28e8a2e8f6e64e0089f6d7788be3a612), [3](https://github.com/pranjal-rai/nanoflann/commit/a41b3d55bef77b408212787ab91a403704b8ccd6)

[2017-08-17 19:44] pranjal-rai commented on #1
I have added the support for SO2 [here](https://github.com/pranjal-rai/nanoflann/commit/bd48fc9ad3141334fea6c1679809c934f9c8e18c).

Now the task which remains is -

I will start working on this now.

[2017-08-18 23:25] jlblancoc commented on #4
Great! I see you have been adding more features these last days. Will test the app and come back if I find something worth mentioning... ;-)

[2017-08-19 00:18] jlblancoc commented on #4
Some further points that would be great to have:

* Use `AppStartMenuLink` as [in here]( https://github.com/MRPT/mrpt/blob/master/apps/RawLogViewer/CMakeLists.txt#L61) to add a link to the GUI app in Windows binary packages.

* For Debian packages, it would be also great to do the same that we have now with ".rawlog" files: after installing `mrpt-apps` one can simply double-click on a .rawlog file

[2017-08-19 00:23] jlblancoc commented on #4
Ah! I forgot: obviously, you must handle command line arguments in the app for all this to work :-)

It's also useful for lovers of the terminal, as we are all here: we can open a simplemap with:

[code]

Also: the equivalent in Windows to all those steps I listed above for Debian is adding one more line [here](https://github.com/MRPT/mrpt/blob/master/cmakemodules/script_setup_cpack.cmake#L85). At

[2017-08-19 00:24] jlblancoc commented on #4
Just probably a minor warning: when robot-gui-map is launched from the terminal, one can see this message:

[code]

[2017-08-19 00:28] jlblancoc commented on #4
Thinking of first-time users: if we open a simplemap and, by default, the "configuration" panel is hidden, it might be frustrating to see that the map apparently has been "loaded"... but nothing is shown! :-)

My recommendations:
* either show (vs. hide) the "configuration" panel by default at start-up, and/or
* show a text message in the area used for maps, that says something like "No metric map

[2017-08-19 00:31] jlblancoc commented on #4
When I click "apply" (in the configuration pane), I could swear that the CGridPlaneXY gets "stronger"... as if a new opengl object is added (i.e. a duplicate object!) and since each one has an alpha<1.0, the transparencies "add-up".

You can use the method `COpenGLScene::dumpListOfObjects()` to dump the objects to a text file and help you debug this and check for duplicated OpenGL objects.

[2017-08-19 00:34] jlblancoc commented on #4
When one selects an observation, it is correctly rendered but if one rotates the 3D view or refresh it somehow, it disappears. I guess it's because you directly call render() of the CSetOfObjects that represent the observation instead of adding it to the scene, right??

If you do this to avoid modifying the scene, note that you can use a fixed name for any CRenderizable object via setName() (e.g.

[2017-08-19 00:40] jlblancoc commented on #4
I still have the problem of the program using the numeric locale of Spain instead of the "C" standard (!!)...

Please see this example (notice the "," for decimal separator):

![screenshot from 2017-08-19 02-35-12](https://user-images.githubusercontent.com/5497818/29481876-14bd6ad8-8487-11e7-81f3-9379a6ba8f36.png)

It's fixed by invoking the program like:

[code]

but obviously that's not comforta

[2017-08-19 00:53] jlblancoc commented on #4
One more thing: I tried to "load config" from a file, and the app abruptly exited with an exception:

* First, wrap "dangerous" areas (mainly... almost all the methods that load/save/update/build/... a map) with a `try{...}catch(...)`  block, such that exceptions could be shown in a Qt messagebox instead of aborting the program. Look for WX_START_TRY / WX_END_TRY for a way to handle this, which yo

[2017-08-19 00:55] jlblancoc commented on #4
I also noticed that the "move" operation works perfectly, thanks!

However... it seems to be enabled by default, right? A map is, in theory, hard to build so it would be a pity that someone accidentally moves a robot pose, ruining a part of the map.

What do you think about this? Would it be worth adding some check box/or-alike to enable "moving"? (it should be disabled by default).

[2017-08-19 01:01] jlblancoc commented on #4
Final point for tonight, I promise ;-)

All `CMetricMap`s, including `CMultiMetricMap`, have a method [`saveMetricMapRepresentationToFile()`](http://mrpt.ual.es/reference/devel/classmrpt_1_1maps_1_1_c_multi_metric_map.html#aef74bee8ef6315012ce967dc11fc284e). Please, add a new menu item under "File" -> "Save metric maps representations..." that asks the user for a file name to be used as the prefix

[2017-08-19 01:11] jlblancoc commented on #3
Hi @raghavendersahdev !

I've checked your contributions to the ROS node... thanks, they are great! :+1:

Some doubts:
* Why have you duplicated the enum declarations for IMU indices with `TIMUDataIndex`? Duplication is doomed to eventually become obsolete, out-of-synch, with the original MRPT object and increase the maintainance work. Why not simply using the MRPT's `TIMUDataIndex`?? You already

[2017-08-19 01:19] jlblancoc commented on #1
Hi @pranjal-rai !

I reviewed all your commits so far, and they all look perfect :+1:

One additional remaining issue: I can't right now (off the top of my head) recall in what context the KD-tree code calls to `accum_dist()`. But it seems to be wrong in many "Metric" structs (including the new ones for SO2,SO3), since it simply adds squares of differences (!).
Have you already thought on how to h

[2017-08-19 01:23] raghavendersahdev commented on #3
Thanks @jlblancoc for the suggestions.

You are absolutely right, my bad, I will use directly the ones from the include of `CObservationIMU.h`

Yes I am currently working on the tester function, writing the publishers and viewing in RViz, I should finish them by today. Will post a video, showing the results in RViz too. Earlier, It (the important part `mrpt2ros`) was giving an error which I have f

[2017-08-19 01:47] pranjal-rai commented on #1
Hi @jlblancoc

Yes, I still need to update `accum_dist()` for our new metrics. I guess the function is correct for the existing metrics because it has been directly adapted from flann.
I found something about `accum_dist()` [here](https://github.com/mariusmuja/flann/blob/master/src/cpp/flann/algorithms/dist.h#L179). But I do not know how do we modify this function to suit our new metrics. Right no

[2017-08-19 01:56] pranjal-rai commented on #1
From what I found, the distance metric has to be dimension wise additive, to implement accum_dist() function, but this does not hold for our new metrics. [(Source)](https://github.com/mariusmuja/flann/blob/master/src/cpp/flann/algorithms/dist.h#L361)

Does this mean we will have to choose some other metric?

[2017-08-19 07:02] raghavendersahdev commented on #3
Hi @jlblancoc @famoreno  I have updated the tester function for the mrpt_bridge, I have a few questions with regards to the MRPT messages
- mrpt::obs::CObservationImage <--> sensor_msgs/Image : works fine, shows correct output in RViz
- mrpt::obs::CObservationIMU <--> sensor_msgs/IMU  : the following variables of ROS message are not available in CObservationIMU,`orientation_covariance`, `angular_v

[2017-08-19 12:57] jlblancoc commented on #1
Ok, I expected this... don't have time until tonight to look at this, but
the best solution would be making up a way to refactor the places where the
accum function is called to use the other, full metric eval().

Try to give it a think... or two ;-)... and let me know what you find by
this night.

Best

[2017-08-20 00:36] jlblancoc commented on #1
Hi @pranjal-rai !
I just added a couple of PRs to your fork, take a look at them.

Also, I noticed that the code refactoring to move all shared code down to the base class `KDTreeBaseClass` could be even more efficient: these are duplicated items in the derived classes (Single vs. Dynamic) that can be (if I don't miss something important?) moved to the base class:
* `std::vector<IndexType> vind;`

[2017-08-20 00:50] jlblancoc commented on #1
One fundamental thing that seems to be missing in your contributions so far is this: we have a great benchmark to test the **computational efficiency** of different metrics / algorithms; that's all good. **But** there are no unit tests that **verify** that the output of those methods is **correct** (!!).

Please, consider adding new unit tests to `test_main.cpp` for (see existing code there and us

[2017-08-20 00:55] jlblancoc commented on #1
Again on code duplication:
It seems to me that `SO2_Adaptor::evalMetric()` can be rewritten as a call to `SO2_Adaptor::accum_dist()`, right? (or the other way around)

[2017-08-20 01:14] jlblancoc commented on #1
Now, regarding the topic of `accum_dist()`: the good news is that, unless I missed something, it seems we have a solution, but it will have a cost...

The point is that metrics must be able to be obtained **element-wise** for the kd-tree to work.
You can see this in the last argument `idx` of:

[code]

**In short:** summing `accum_dist(a[i],b[i],i)`  for i=0...dim-1 should be equal to `evalMetric(

[2017-08-20 07:47] jbriales commented on #1
Hi everyone!
I must say I've been following this thread for the last days, curious on the `accum_dist( )` issue and how you'd solve it. So far I didn't have any straight comment to do (specially since I don't understand too well the inner working of the KD-Tree and what's the role of `accum_dist( )`), but regarding the last suggestion of @jlblancoc in using the Frobenius norm: I think the actual r

[2017-08-20 13:29] pranjal-rai commented on #1
HI @jlblancoc

[Fixed](https://github.com/pranjal-rai/nanoflann/commit/7306b64e5873a64b074b252c416c5b43b63ec791)

Now moving on to **SO(3)-InnerProdQuat**

Please, give it a thought... it makes sense to me.

I think there is a problem in this solution.
Consider two quaternions `(w1, x1, y1, z1)` and `(w2, x2, y2, z2)`.
Now as per our metric, `dis = 1 - abs(w1 * w2 + x1 * x2 + y1 * y2 + z1 * z2) `

[2017-08-20 13:42] pranjal-rai commented on #1
I have added [`accum_dist()`](https://github.com/pranjal-rai/nanoflann/commit/40b4d3520150fdd69931d2dbf265d4be87da2f5d) for SO(3)-InnerProdQuat, in case you need to test it.

[2017-08-20 22:51] jlblancoc commented on #3
:+1: great! Thanks for the video, it helps a lot :-)

yes, it's fine to leave covariances not filled in in those ROS msgs.

I only miss one more type for ROS<->MRPT conversion (and its inclusion into rawlog_play): [CObservationStereoImages](http://mrpt.ual.es/reference/devel/classmrpt_1_1obs_1_1_c_observation_stereo_images.html).

It would allow playing back more recent datasets such that this one

[2017-08-20 23:45] pranjal-rai commented on #1
[Fixed](https://github.com/pranjal-rai/nanoflann/commit/cfc7785a2ee9ca6b22a9ed617fcb86cafeb6a63d)

[2017-08-20 23:59] jlblancoc commented on #4
@LisGein I saw you've been making progress on these topics above... here are my tests:
* "C" locale: It still showed my annoying Spanish "," for decimals... I imagined what may be causing this, by similarity with similar problems with wxWidgets. Please, apply this patch that fixes it:

[code]

* Opening a file via CLI: Works! :ok_hand:
However, if one passes a file that doesn't exist (yes... :smil

[2017-08-21 00:07] jlblancoc commented on #2
Hi @spsancti !
How are you doing?

I wondered if you made progress with the points raised in these two past comments:
* https://github.com/MRPT/GSoC2017-discussions/issues/2#issuecomment-318518129
* https://github.com/MRPT/GSoC2017-discussions/issues/2#issuecomment-318523415

Cheers

[2017-08-21 01:28] jlblancoc commented on #1
@jbriales thanks a lot! :+1:
Yes, in fact I realize now that we need distances to be "good metrics", so they can't be negative...

@pranjal-rai :

I noticed your quaternions are not unitary (|q1| = 0.659 ??) and think I found a bug in your code generation for random quaternions, please check my comment on your commit.

Giving it a second thought... I spoke a senseless thing yesterday: we CAN'T for

[2017-08-21 05:47] raghavendersahdev commented on #3
Thanks @jlblancoc sure will do this by today. I will create a bridge between CObservationStereoImage to 2 * [sensor_msgs::Image](http://docs.ros.org/api/sensor_msgs/html/msg/Image.html) messages for [left](https://github.com/MRPT/mrpt/blob/master/libs/obs/include/mrpt/obs/CObservationStereoImages.h#L75) and [right image](https://github.com/MRPT/mrpt/blob/master/libs/obs/include/mrpt/obs/CObservati

[2017-08-21 08:01] LisGein commented on #4
Hi!
Thank you for good review!

I think it's Qt bug because it problem in *.ui file and I can't change it.

I am doing a warning in the GUI about "bad" file and text message in the area of the maps when don't open simplemap and/or config file.
Also I'm doing saveMetricMapRepresentationToFile().

[2017-08-21 17:48] pranjal-rai commented on #1
Hi @jlblancoc

Actually I made a typo in comments, w in q1 is actually -0.75 not -0.075. Sorry.
I referred this [resource](http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=1308895) (page 3 - Algorithm 2) to generate unit quaternions.

I have now updated the quaternion generation code to use the approach you [suggested](https://github.com/pranjal-rai/nanoflann/commit/40b4d3520150fdd69931d2dbf265

[2017-08-21 18:14] spsancti commented on #2
Hi, @jlblancoc !
I'm fine, the work is going.
I've rewritten loggers because previously I selected somewhat wrong architecture.
Previous design had sufficient flaw when some loggers couldn't be triggered to write from GUI.
Fixed documentation is at branch f-documentation, I'll add info on new loggers today.

I'm a bit out of schedule with Ackermann differential but I hope, I'll finish it till Frid

[2017-08-21 20:14] jlblancoc commented on #1
Great! Come back if you have any further doubt.

[2017-08-22 07:58] raghavendersahdev commented on #3
Hi @jlblancoc  @famoreno
I am almost done with the coding part from my side. Pending stuff:
- main video of the GUI app
- main video for the ROS package extension
- detailed comments for future use
- fix a few bugs (that I know exist) in the GUI app to make it more user friendly

I will try to finish all this by tonight and after this I look forward to your instructions to address your feedback/su

[2017-08-22 11:42] pranjal-rai commented on #1
Hi @jlblancoc

I have added unit tests to validate the following:

- [SO3_Adaptor](https://github.com/pranjal-rai/nanoflann/commit/77016ea39b3d65f1aa921b83ed7e0ece8cb68640)
- [SO2_Adaptor
](https://github.com/pranjal-rai/nanoflann/commit/96063455b0c6f3b548d0341de6851d4643dad4fa)
- [Dynamic Insertions](https://github.com/pranjal-rai/nanoflann/commit/e186200d0496133dd393cdd83afd2f77ef31b978)

I will

[2017-08-22 13:59] famoreno commented on #3
Hi @raghavendersahdev.
Great work with the rawlog support for the GUI app and with the ROS bridge. Congrats again!
And thanks @jlblancoc for taking care of this thread these days ;-)!

Regarding this:

I'm not sure why CObservationRange includes a `deque` of measurements (maybe @jlblancoc can explain why `sensedData` is a `deque` instead of a single number) but I think that the ROS->MRPT conversio

[2017-08-22 15:15] pranjal-rai commented on #1
[Fixed](https://github.com/pranjal-rai/nanoflann/commit/ea9eda2a965a21cbc127fa92f16fbf399cdf3c22)

[2017-08-22 15:49] pranjal-rai commented on #1
I have added unit tests and also removed duplicate codes from examples and unit tests. I will clean and document all the codes by tomorrow.
What should I do next? What is the process of submission?

[2017-08-23 06:02] raghavendersahdev commented on #3
Hi @famoreno , I am running a little late, will upload the remaining tasks `(videos`, `comments`,` bug fixes`) by tonight. Aug 23 for your review.

[2017-08-23 16:26] LisGein commented on #4
Hi! I've done implement "About", added save any metric map in binary format and representation to file. Also, I've fixed locale in Qt, added a warning window(for bad *.simplemap), added the opening the application in the console.

Now, I wanna add graph-slam to my program.
I found the function
`CSetOfObjects::Ptr graph_visualize(const GRAPH_T& g, const mrpt::utils::TParametersDouble& extra_params)

[2017-08-23 22:31] pranjal-rai commented on #1
Hi @jlblancoc

I have cleaned the codes and moved some common functions to base class.
Related commits: [1](https://github.com/pranjal-rai/nanoflann/commit/7e8b2ee99e7e8fad794d8c95e22f23bd5df776e7), [2](https://github.com/pranjal-rai/nanoflann/commit/4d79d0ca2f7df6376322d3f270359d587262c881)

What do we do now?

[2017-08-24 09:27] raghavendersahdev commented on #3
Hi @jlblancoc @famoreno I have made a video for each of my 2 projects:
- Benchmarking App GUI: [Video available here](https://www.youtube.com/watch?v=iq-BBx9npuE)
- MRPT-ROS bridge: [Video available here ](https://www.youtube.com/watch?v=UzdW5ZX_fgk&feature=youtu.be)

I added license part in the beginning of each file in the benchmarking app, is that fine?
I still need to add some more comments, d

[2017-08-24 11:18] jlblancoc commented on #1
Great work! I'll review the code changes later today.

In the meanwhile, you can merge all the changes in your master branch, and
open a pull request against the original repo.

[2017-08-24 11:46] spsancti commented on #2
Hi, @jlblancoc !
I realized that I totally forgot to create pull requests for my features :confused:
Please, review them and merge if possible.

BTW, what will be the format of my GSoC summary? Are there any guidelines to do it in MRPT?

Sincerely, Borys.

[2017-08-24 17:54] pranjal-rai commented on #1
Hi @jlblancoc

I have created a [PR](https://travis-ci.org/jlblancoc/nanoflann) but building flann requires administrative permissions and the tests fail because of this reason. What should I do for this?

[2017-08-24 18:30] pranjal-rai commented on #1
I fixed the previous issue. All other tests except [this](https://travis-ci.org/jlblancoc/nanoflann/builds/268082527) complete successfully now.

[2017-08-24 22:19] spsancti commented on #2
Hi, @jlblancoc !
[Here](https://github.com/ual-arm-ros-pkg/mvsim/pull/8) is my implementation of open and Torsen differentials for Ackermann steered robots.

It supports front, rear and 4WD with configurable split and bias settings.

It doesn't include the engine model and influence of tire forces on the engine - so it doesn't support [engine braking](https://en.wikipedia.org/wiki/Engine_braking)

[2017-08-25 06:00] jlblancoc commented on #4
Hi,

I saw your latest changes regarding the refactoring of parameters <=> GUI... good. Anything that makes easier maintaining the code it's welcome!

On graphslam: it's actually much more complicated... Obtaining the pose constraints in CNetworkOfPoses requires trying to "align" each CSensoryFrame with all its neighbors. Making it general for all kind of observations would be too complex and cert

[2017-08-25 06:05] jlblancoc commented on #3
@famoreno  & @raghavendersahdev :

Actually, despite its misleading name, `CObservationRange` can hold one or more ranges from any device that normally measures *one* range only. This class is mainly used for ultrasonic or IR sensors (just like the equivalent ROS msg says).

So, I think that the best mapping between MRPT and ROS here would be: one MRPT object to many ROS msgs. At the mrpt_bridge l

[2017-08-25 06:11] jlblancoc commented on #3
Hi @raghavendersahdev ! Great videos 👍 @famoreno will carefully review (probably next week) your contributions and give you some more feedback. Regarding the mrpt_bridge and rawlog changes, I see them good enough, go ahead and open the pull-requests for the ROS part when you want, and I'll take a more careful look at the code afterwards.

Just one comment on the benchmarking API GUI: I can see it

[2017-08-25 06:19] jlblancoc commented on #1
Good!

I think it's a problem of the external project, so let's ignore it.
To make travis-ci clean, please add an "if" like [this one](https://github.com/jlblancoc/nanoflann/blob/master/.travis.sh#L27) to the travis.sh function `build()` to add an argument to CMake to instruct it NOT to build the external projects (hence, neither the benchmarking app). I mean, something like:

[code]

Obviously, y

[2017-08-25 06:21] jlblancoc commented on #2
Hi,

we'll review your PRs asap.

For your final submission, normally we recommend students to submit this very same page URL as the "link" Google asks you for, since it reflects all your work during this time.

I normally edit the first comment to list your code contributions via a list of pull-requests. Let me know if I miss some of them....

[2017-08-25 06:26] jlblancoc commented on #2
I would prefer that, instead of 3 PRs, you could please do the following:
* open PRs in your own fork so all 3 branches are integrated into "master". Do it as you prefer (merge commit vs. rebase; I don't recommend squash because the history of your individual commits would be lost).
* then open one PR against the original repo, explaining that it includes 3 (or N) new features, etc.

[2017-08-25 12:26] pranjal-rai commented on #1
Hi @jlblancoc

Thanks for the suggestion. Right now all the [tests](https://travis-ci.org/jlblancoc/nanoflann/builds/268344296?utm_source=github_status&utm_medium=notification) pass without any fail.

[2017-08-25 21:53] raghavendersahdev commented on #3
Thanks @jlblancoc I have created a pull request for the[ mrpt_bridge ros package here](https://github.com/mrpt-ros-pkg/mrpt_navigation/pulls). I have fixed the CObservationRange issue by using one to many relationship as you suggested (one mrpt message for many ROS messages) and added the license part on top of each file, is that fine?

regarding the benchmarking feedback, looking forward to @famo

[2017-08-26 09:58] LisGein commented on #4
Hi!
I created PR for the main part of the work.
I moved changes related to reflection to the separate branch. I think that changes may cause some discussions. After finish this task I will create new PR.

[2017-08-26 12:04] LisGein commented on #4
Also, I did the [video](https://youtu.be/YgGcNvrxZI0).

[2017-08-26 12:55] LisGein commented on #4
Please, review my summary works information:
https://gist.github.com/LisGein/1ad3951ecc8a67d4915a59ae042b9f45

[2017-08-26 16:21] raghavendersahdev commented on #3
Hi @jlblancoc , I agree that the GUI layout in general can be made more graceful, I saw @LisGen 's  video and found her GUI really good !
By Scrolling Panels did you mean for each section/block/component (images/feature information, descriptor visualization, detector/descriptor parameters tuning, vision tasks, etc) having separate scrolling panels for them?

[2017-08-26 17:26] jlblancoc commented on #3
Hi!

On the PR, you can do it against master, which was where mrpt-2.0-devel was
merged. Please, search about clang format in mrpt master, and try to apply
the format ONLY TO THE FILES YOU ADD ADD NEW ONES, to minimize conflicts.

On screen resolution, if it's usable with 1280, it's fine, no need to make
changes unless you feel they are kind of trivial.

We mentors can do the review until the firs

[2017-08-26 17:33] jlblancoc commented on #4
Great, Alice!

I like the video👍👍

We'll review the pr in the next days. We mentors have until first week on
September to make our final report, so expect some comments before that
date.

Congratulations for the great work... your app is fairly better and more
appealing than its 10-years old Windows-only predecessor! I'm glad of
having this functionality back into mrpt after so many years ☺

[2017-08-26 17:37] LisGein commented on #4
Thank you!
Is it correct to paste this [link](github.com/LisGein/1ad3951ecc8a67d4915a59ae042b9f45) in  "Provide a link to the work you did during GSoC 2017"?

[2017-08-26 17:47] raghavendersahdev commented on #3
Thanks @jlblancoc

I will read about this and do this.

Because of the scrollbars its usable in 1280, results and everything can be seen clearly by using scroll bars, but usage of scrollbars is required quite more than in the 1920 resolution.

thanks for letting me know about this, so I can address all the comments then. :)

[2017-08-26 22:35] spsancti commented on #2
Hi, @jlblancoc !
[Here](https://github.com/ual-arm-ros-pkg/mvsim/pull/10) is my compound pull request for mvsim.
There is some mess with commits dates because I needed to rewrite history a bit :confused:

Could you please also add my contribution to mrpt-navigation to the header comment?

At the moment, can I already complete my evaluation with a [link](https://github.com/MRPT/GSoC2017-discussions

[2017-08-27 09:06] jlblancoc commented on #2
Great! Yes, you can use this page as summary link. I'll update the first
comment.

[2017-08-27 10:36] jlblancoc commented on #2
@spsancti I added the 3 PRs to the header. Let me know if I missed anything else...

[2017-08-27 17:58] pranjal-rai commented on #1
Hi @jlblancoc

Can you please add my contribution to the initial description of the project? I need to fill it in the final evaluations.

[2017-08-27 19:24] raghavendersahdev commented on #3
Hi @jlblancoc
I have created a [pull request here](https://github.com/MRPT/mrpt/pull/586) . However there are 6 conflicting files, these are the ones I had modified earlier to add support for AKAZE, LSD, BLD and LATCH descriptors/detectors.....
I did not apply [the clang format,](https://github.com/MRPT/mrpt/tree/master/scripts/clang_git_format) is clang only there to minimize conflicts or is it m

[2017-08-28 05:22] raghavendersahdev commented on #3
Hi @jlblancoc @famoreno , can I use the link of [this page](https://github.com/MRPT/GSoC2017-discussions/issues/3) to fill in the evaluation for the part ?
_Provide a link to the work you did during GSoC 2017_

At the top part of this link, can we have a link to the pull request [# 1](https://github.com/MRPT/mrpt/pull/586) and[ # 2](https://github.com/mrpt-ros-pkg/mrpt_navigation/pull/83) in @jlbl

[2017-08-28 14:59] LisGein commented on #4
Hi, @jlblancoc ! I'm a little bit worried about deadline(1 day left). Google says "You should share your link with your mentor BEFORE submitting your evaluation to make sure it's okay."
[My summary works.](https://gist.github.com/LisGein/1ad3951ecc8a67d4915a59ae042b9f45)

I added commits for your comments.
I wanna do synchronizing select poses on this week
Also, I wanna do changing poses orientati

[2017-08-28 22:18] famoreno commented on #3
Hi!

According to [this](https://developers.google.com/open-source/gsoc/help/work-product), providing the link to a pull-request is a valid way of showing the work done, so for me it's OK as long as @jlblancoc can add the links to the first post, as you suggest here:

Maybe the links to the videos could also be added to the initial comment.

Just two things about the ROS-MRPT part:
1. Make sure th

[2017-08-28 22:42] raghavendersahdev commented on #3
Thanks @famoreno :-)

Sure will use this link and maybe @jlblancoc can add the Pull requests in the initial comment. I will be filling the evaluation in the next 2 hours or so.

Done

I think its simply adding 5 more if-else conditions and 5 publishers (for 5 conversions added) in the `rawlog_play node` . I will look into this...

[2017-08-28 23:29] jlblancoc commented on #1
Done! 👍

Thanks for all the hard work during GSoC!
We mentors have some more days for filling our evaluations, so expect more comments and/or feedback as the code is tested.
Cheers

[2017-08-28 23:39] jlblancoc commented on #1
BTW: You can also create a gist (see for example [this one](https://gist.github.com/LisGein/1ad3951ecc8a67d4915a59ae042b9f45)) as a summary of your work, so you can be sure the content "belongs" to you and you can edit it at any time in the future...

It will be OK for me to use either this page, or a custom gist (in that case, please post a link to it here so we can quickly review it).

[2017-08-28 23:46] jlblancoc commented on #4
Hi Alice,

No worries for the deadline: your summary is perfect. Go on and use it to do your submission.

We can continue and discuss on more "TO-DO"s later. Will re-check the PR and merge it. When you add new functionality, or we come back to you if we find a bug, etc. you will be able to open new PRs, naturally ;-)

Again, thanks for your great contributions!

[2017-08-29 01:45] jlblancoc commented on #3
Hi,

PRs and video links added to top comment... go on and make the submission!

[2017-08-29 02:06] raghavendersahdev commented on #3
Thanks will do right away!

[2017-08-29 11:56] jlblancoc commented on #3
Hi! I have started the review of your request.

 if you do the rebase, perhaps it would be better to close and open a new PR if hithub doesn't catch up

[2017-08-29 12:27] pranjal-rai commented on #1
Hi @jlblancoc

I have created a [report](https://gist.github.com/pranjal-rai/307e178d023b9a4b5455ca9ca8383344) as you suggested. Please review it. I am adding this link in the evaluation for now.

[2017-08-29 15:02] spsancti commented on #2
Hi, @jlblancoc !
The final countdown is on its way, just wanted to say that it was a good time of coding for me.

BTW, I started to implement 8x8 truck scheme as [this one](https://en.wikipedia.org/wiki/MAZ-7310), it must be an elevation-map-king!

Sincerely, Borys.

[2017-08-29 16:36] raghavendersahdev commented on #3
This is for the same reason, to avoid the git repo size to grow out of control!
Again, please use git rebase to remove the files. Ask us if in doubt

_Reminder_ @jlblancoc : Where should I upload the output directory screen-shots, they are mostly for showing the progress over time of the app, if you think its okay to replace these by simply 3-4 screenshots or just a video link should be sufficient

[2017-08-29 21:44] jlblancoc commented on #3
You can read an excellent tutorial about summarizing all the changes in your fork (rebasing) into one commit, which will allow you to delete all those images with git rm easily, here:

https://github.com/edx/edx-platform/wiki/How-to-Rebase-a-Pull-Request

Pleasy, pack all the imgs into a zip (including an optional directories structure) and send them to me via a shared folder anywhere or any other

[2017-08-29 22:18] raghavendersahdev commented on #3
[outputs_benchmarkingGUI.zip](https://github.com/MRPT/GSoC2017-discussions/files/1261849/outputs_benchmarkingGUI.zip)

Hi @jlblancoc , here is the zipped file with the output screenshots

thanks for the tutorial for rebasing, I will read about it and rebase the same pull request tonight. I have addressed all the changes you suggested in the latest [commit](https://github.com/raghavendersahdev/mrpt

[2017-08-29 23:20] jlblancoc commented on #3
I have uploaded your images to our "static" part of the web server here: http://static.mrpt.org/screenshots/benchmarking-image-features/

At your will, you could also fork and PR [this repo](https://github.com/MRPT/mrpt.github.io/), which has the advantage of being at GitHub, the authorship of the files will remain as yours, etc.
The only downside is that GitHub Pages does not allow directory list

[2017-08-30 01:58] jlblancoc commented on #1
Good! If you are still in time (I think it's late?) you could use that
report instead, since you can directly edit it at any time.

Anyway, feel free to come back and claim any change in the first comment's
"summary of work"!

On Tue, Aug 29, 2017 at 2:27 PM, Pranjal Rai <notifications@github.com>
wrote:

--
___________________________________________________________

Jose Luis Blanco-Claraco
Univ

[2017-08-30 04:59] raghavendersahdev commented on #3
I was stuck with my thesis stuff today (ICRA deadline soon). I have read about the rebasing was trying to rebase but got some merge conflicts  (similar to the ones in the PR), while doing it, will try to resolve conflicts, and do the rebase in the afternoon today....!

[2017-08-30 08:08] jlblancoc commented on #3
Ok! ICRA is first.... good luck!

[2017-08-30 17:48] raghavendersahdev commented on #3
Thanks for the wishes @jlblancoc ; I think I successfully [rebased my PR.](https://github.com/MRPT/mrpt/pull/586) I did not squash the commits into one big commit during the rebase as I wanted to retain the commit history of my 36 commits so far. I thought squashing them might make me loose the 35 commit messages..so avoided it.

Also, should I be adding myself to the AUTHORS page [here](https://g

[2017-08-30 18:23] jlblancoc commented on #3
Ok,I agree. The only commits that should be squashed are those first adding, then removing the image files, so the history doesn't waste resources on that....Cheers

[2017-08-31 11:16] LisGein commented on #4
Of course.
I am having a vacation until 18th September. After it, I wanna continue to add new commits :)

It internship was a really great opportunity for me! Thanks a lot!!!

[2017-09-01 09:41] famoreno commented on #3
Hi all!

Finally I'm back to the lab and can inspect more carefully all the work done. I'm having some problems to pull the last version of the repo and some conflicts have appeared. In fact, the conflicts are already present in the repo code as in [here](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/libs/vision/src/CFeatureExtraction_common.cpp#L49-L59). Maybe those are the confli

[2017-09-01 11:22] jlblancoc commented on #3
ooops! Good point @famoreno!
I guess @raghavendersahdev  didn't tried to re-compile after his later changes, because [this](https://github.com/raghavendersahdev/mrpt/blob/mrpt-2.0-devel/libs/vision/src/CFeatureExtraction_common.cpp#L49-L59) clearly is a forgotten to-be-resolved conflict.

Please, @raghavendersahdev let @famoreno know when you have reviewed and verified that all the code builds on

[2017-09-01 14:20] raghavendersahdev commented on #3
Hi @famoreno @jlblancoc I forgot to compile after the rebase, I did something wrong here with the conflicts, I am currently fixing it, will let you know as soon as I fix it.

[2017-09-01 19:34] raghavendersahdev commented on #3
Hi @jlblancoc  @famoreno I have fixed the merge conflicts, rebased my pull request and now the code compiles successfully. There were conflicts in the following files:
[code]
mainly the conflict was due to [this commit 11 days ago](https://github.com/MRPT/mrpt/commit/442a2b84063d44435806868384cacf361d78c8f5) for the files `types.h` and `CFeatureExtraction_common.cpp`

[2017-09-02 02:03] jlblancoc commented on #3
Hi @raghavendersahdev ,
I just merged your PR to the main MRPT/mrpt repo. @famoreno : you could now test (and propose any further changes?) by checking out the "master" branch of MRPT and `cd build && cmake . && make benchmarkingImageFeatures_GUI`.

I finally was forced to merge via a squash & merge, since your rebase didn't actually solve the problem of the addition + deletion of screenshots. I t

[2017-09-02 02:06] jlblancoc commented on #1
Hi @pranjal-rai ,

It was a pleasure to have you in GSOC-2017! :+1:

I'm now closing this issue ticket, since the changes were already merged upstream. New issues or ideas discussion could go on either here, or in the nanoflann repo, ok? I still have to do a more careful test of your recent changes, so expect feedback in the next week or so.

Cheers!

[2017-09-02 02:06] #1 closed, assigned to nobody

[2017-09-02 02:09] jlblancoc commented on #4
It was a pleasure for us too, thank *you*!
Enjoy your vacation :+1:

I'll close now this ticket, since the PRs are already merged and the app is in a "functional" state and we are approaching the end of GSOC.

We can continue discussion here about the pending topics after 19th September, anyway.
Looking forward to that!

[2017-09-02 02:09] #4 closed, assigned to nobody

[2017-09-02 02:17] raghavendersahdev commented on #3
Thanks @jlblancoc  for doing the merge and resolving the conflcts. :-)

Yes I agree I was adding screen-shots in commits separately, I did not know this is a bad practice. Did not realize back then that occupying a lot of memory for git history is not a good practice. Sorry you had to spend a lot of time on this.

I will add myself to the authors page, also I think there should be a `CREATE_MANPAG

[2017-09-02 02:32] jlblancoc commented on #3
Hi @raghavendersahdev ,

I'm having build errors... please, checkout MRPT/master and try it with a fresh build directory.
Error is:
[code]
Naturally, I have libopencv-*-dev installed. version 2.4.9.1:

[code]
and MRPT+CMake finds it:
[code]

Please, note that there are a few wrong details with the "...AKAZE.cpp" (and other) files:
* The project license block is missing.
* It won't build in MSVC du

[2017-09-02 02:38] raghavendersahdev commented on #3
Sure will resolve the opencv version problem in
`...AKAZE.cpp, ...LATCH.cpp and ...LSD_BLD.cpp` files and open a new PR

[2017-09-02 05:14] pranjal-rai commented on #1
Hi @jlblancoc

:+1:

Thank you very much.

Thank you being an awesome mentor throughout and giving me the opportunity to work on this project. I learned a lot from you while working on this project. I would love to contribute to MRPT in future too.

[2017-09-02 06:46] raghavendersahdev commented on #3
Hi @jlblancoc @famoreno I have addressed the issue and opened a [new PR](https://github.com/MRPT/mrpt/pull/590)

The code should now compile on your system (I am using ubuntu 16 on my system), I added opencv version check (should be > 3.0.0) and the required guards in the 3 files ([AKAZE, LSD_BLD and LATCH](https://github.com/MRPT/mrpt/commit/64b89f8a5ca23c8b6bef7947c916a2a9980aa0e7))

[2017-09-03 10:15] jlblancoc commented on #3
Hi!
I move the conversation from the PR in the MRPT repo back here so we don't annoy MRPT subscribers anymore ;-)

@famoreno , @raghavendersahdev : I just pushed a few commits to MRPT/master: it now builds cleanly with OpenCV 2.4 **and** OpenCV 3.2... yay!

@famoreno the quickest way for you to test this is to install opencv in ubuntu via: `sudo apt install ros-kinetic-opencv3`, then rebuild MRPT/

[2017-09-03 10:29] famoreno commented on #3
Thanks @jlblancoc I already have opencv 3.3 and was trying to build the app from the @raghavendersahdev repo. I had to change the check in CMakeLists.txt as it would only work with the exact 3.2 version but I see that in the MRPT master is already changed to a more flexible way :-) so I'll try from there.

Will try the app and come back with comments ASAP.
Best.

[2017-09-03 12:16] famoreno commented on #3
Hi again!

Some comments after testing the app so far (building correctly on ubuntu 16.04 with opencv 3.3 ;-)):
In general, most of the desired functionalities are implemented and work fine :-). However, there are still some points that can be addressed to improve the quality of the app.

**Errors**
- Sometimes, clicking on the image is not accurate at all and it's not possible to select the desir

[2017-09-03 14:18] raghavendersahdev commented on #3
Hi @jlblancoc thanks a lot for fixing the opencv version issue, boost issue, and clang formatting :-). I tried clang formatting earlier but was unable to do so (I though it was only to resolve conflicts which I addressed manually, but clearly clang was required for maybe being coherent with code style and minimizing conflicts.). thanks for fixing it.

I agree with both these comments and will fix

[2017-09-03 15:51] jlblancoc commented on #3
Good!
Thanks to both of you for the quick feedback.

@famoreno must fill your evaluation within a couple of days, so I
would say that fixing at least one of the issues listed above would be
enough to end his assess of your work. Hopefully we'll keep polishing
your great app after the ICRA deadline ;-)

[2017-09-03 15:52] raghavendersahdev commented on #3
Sure I will address some of these by today!

[2017-09-03 16:13] famoreno commented on #3
Yes, of course! Address them when you can. I'll do the evaluation tomorrow, but these changes can be done afterwards. Anything you can do will be fine, don't worry.

[2017-09-03 16:46] raghavendersahdev commented on #3
thanks @famoreno , as per @jlblancoc 's advice, I have created a [new branch master2](https://github.com/raghavendersahdev/mrpt/tree/master2) in my previous fork, I re-based that branch so it currently has the latest changes with master branch in the main master mrpt branch. This should avoid any conflicts.

I will make a commit which addresses some of the issues by tonight.

[2017-09-04 01:49] raghavendersahdev commented on #3
Hi @famoreno @jlblancoc , I have fixed the following 2 errors and 5 suggestions  in [my commit here](https://github.com/raghavendersahdev/mrpt/commit/9aa5dc3838c0694312eea60edbe31eaeab520d48):

Following are **Pending** , I can fix them immediately after Sept 15

[2017-09-05 09:07] jlblancoc commented on #3
Hi @raghavendersahdev !
I'm closing this issue ticket since your evaluation for GSoC is done. It was great to count with you during this period, and I hope we can continue the collaboration after the ICRA deadline, and as long as you desire ;-)

You and @famoreno can continue discussing the pending issues, here and/or in the main MRPT repo.

Cheers

[2017-09-05 09:07] #3 closed, assigned to nobody

[2017-09-05 09:32] jlblancoc commented on #2
Hi @spsancti !
We just finished your final evaluation in GSoC... it was a pleasure to count with your participation in this project 👍

There were some things we tried and wasn't successful, but I know you tried it really hard, so it's ok.
Hope you will be willing to keep collaborating after the GSoC period... feel free of opening new PRs ;-)
I will also mention you (in the main project repo) if I

[2017-09-05 09:32] #2 closed, assigned to nobody

[2017-09-05 13:17] raghavendersahdev commented on #3
Thanks @jlblancoc @famoreno it was great working with you, I learnt a lot and became better during this period at (git, cmake, Qt, good C++ programming, etc). I will get back after ICRA deadline and continue to contribute/collaborate. :-)

Thanks for providing this opportunity :+1:

[2017-09-05 14:12] famoreno commented on #3
The same for me, it's been a pleasure to collaborate with you both and I wish you the best of lucks! Keep in touch!

[2017-09-19 03:57] raghavendersahdev commented on #3
A small note: I am working on addressing the pending issues, will commit some by tonight (Sept 19) !
Commits available [here](https://github.com/raghavendersahdev/mrpt/tree/master2)